FORMAT: 1A
HOST: https://api.xilnex.com/

# Core Data API V1
## Scope and Concepts
Web bytes provides a complete API accessible via HTTPS. This API is the best 
way to intergrate website, e-commerce, server, mobile written in any programming 
language such as JavaScript, Ruby, Swift, Object-C. C#, Java, php, etc.

## Setup for REST API
For using this API you need send authenticated HTTP requests. Exists several 
way to do this:
* Send a HTTPS header with include `Token: {api_token}` and `Dkey: {Dkey}`
, where `{api_token}` is your API token and `{dkey}` is your private key
![name](https://s15.postimg.org/oagoiyr7f/Screenshot_1.png)


Your API token and Dkey you can request from our comapny **api@webbytes.com.my**
by providing below
information in your email
* Company Name:
* Name:
* Purpose of the API:
    * Purpose:
    * Request action: `Read, Write, Update, Delete`
* Super admin email address:
* Api e-mail address :
* Api e-mail password : 

API e-mail address and password `You need to create a user on xilnex application, and
specific for API purpose only`

## Basic Usage
### HTTPS
* All endpoints are available over HTTPS only.

### Allowed HTTPs requests:
* `POST` - To create resource
* `PUT` - To update resource
* `GET` - Get a resource or list of resources
* `DELETE` - To delete resource

### Description Of Usual Server Responses:
* 200 `ok` - the request was successful
    * `ok` 
        * `true` mean success to process 
    * `status` - status of process
        * `SuccessQuery`
        * `SuccessInsert`
        * `SuccessDelete`
        * `SuccessUpdate`
    * `warning`
        * null
    * `error`
        * null
    * `data` - Json data response from Api
        * Object
    * `timestamp`
* 400 `Bad Request` - the request could not be understood or was missing required parameters.
    * `ok` 
        * `false` mean failed to process
    * `status` - status of process
    * `warning` - warning message return from server
    * `timestamp`
* 401 `Unauthorized` - authentication failed or user doesn't have 
permissions for requested operation.
* 500 `Internal server error` - server error

### Attributes
* Date: The standard is called ISO-8601 and the format is: `YYYY-MM-DDTHH:mm:ss.sssZ`
    * Example: `2017-08-08T08:40:51.000Z`.

## Basic Demo Project
`C#` - https://github.com/xilnexapi/CSharpDemo

`PHP` - https://github.com/xilnexapi/PhpDemo

## Group AccessControl

### /logic/v1/accesscontrol/{accessGroup}/{userGroup}

#### GET

Retrive access control by access group and user group

+ Parameters

    + accessGroup (required) -  Administration, Client, Custom, Item, Listing,
    Menu_Tab, Purchasing, Receive, Report_Printing, Sales, Vendor, Report
    
    + userGroup (required)

+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

### /logic/v1/accesscontrol/Accesscontrols

####  get Access control [GET]

Retrive access control by access group or user group or user name or access Area
+ Parameters

    + accessGroup - -  Administration, Client, Custom, Item, Listing,
    Menu_Tab, Purchasing, Receive, Report_Printing, Sales, Vendor, Report
    
    + userGroup
    
    + userName
    
    + accessArea

+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

### /logic/v1/accesscontrol/Save

#### Save or update the user group permission [POST]


+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            [
              {
                "Access_Controls": [
                  {
                    "check": false,
                    "SaveValue": "non fugiat minim",
                    "Display": "velit sunt deserunt aliqua ea"
                  },
                  {
                    "SaveValue": "aliquip velit",
                    "check": false,
                    "Display": "aliqua non ut amet"
                  },
                  {
                    "Display": "Excepteur deserunt cillum",
                    "check": false
                  },
                  {
                    "check": false,
                    "SaveValue": "i",
                    "Display": "minim pariatur a"
                  }

                ],
                "UserGroup": "ea minim"
              },
              {
                "Access_Controls": [
                  {}
                ]
              }
            ]

    + Schema

            {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "UserGroup": {
                    "type": "string"
                  },
                  "Access_Controls": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Display": {
                          "type": "string"
                        },
                        "SaveValue": {
                          "type": "string"
                        },
                        "check": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

## Group Clients

### /logic/v2/clients/pointAdjust
#### PUT
+ Use to adjust customer point 
+ Parameters
    + pointAdjustment: 5, -5
    
+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
            {  
               "clientPoint":{  
                  "clientId":5042,
                  "pointAdjustment":5
               }
            }

+ Response 200 (application/json)

        {  
           "ok":true,
           "status":"SuccessUpdate",
           "warning":null,
           "error":null,
           "data":null,
           "timestamp":1504759973
        }
        
### /logic/v2/clients/query?code={AnyCode}
#### GET
+ Use to retrive single result, the code must be exactly same
+ search: alternate lookup-> company name-> mobile-> customer code-> ic-> email

+ Parameters
    + AnyCode: Client code, mobile, identity card, client name 
    
+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
+ Response 200 (application/json)

        {
          "ok": true,
          "status": "SuccessQuery",
          "warning": null,
          "error": null,
          "data": {
            "client": null,
            "clients": [
              {
                "id": 5042,
                "alternateLookup": "",
                "priceScheme": "0",
                "terms": 0,
                "creditLimit": 0,
                "billingAddress": "",
                "shippingAddress": "",
                "billing": {
                  "street": "",
                  "city": "",
                  "state": "",
                  "zipcode": "",
                  "country": ""
                },
                "shipping": {
                  "street": "",
                  "city": "",
                  "state": "",
                  "zipcode": "",
                  "country": ""
                },
                "name": "Cindy E. Bilodeau",
                "code": "12052016",
                "title": "",
                "email": "",
                "type": "",
                "group": "",
                "registrationCode": "",
                "gender": "female",
                "dob": "",
                "ic": "",
                "nationality": null,
                "createdBy": "realmart@xilnex.com",
                "mobile": null,
                "office": null,
                "fax": null,
                "phone": null,
                "alternateContact": null,
                "alternatePhone": null,
                "category": null,
                "firstName": null,
                "lastName": null,
                "expiryDate": "0001-01-01T00:00:00.000Z",
                "pointValue": 128,
                "image":"",
                "active":false
        
              }
            ]
          },
          "timestamp": 1487901986
        }
        
### /logic/v2/clients/search?code={AnyCode}
#### GET
+ Use to retrive a list of result, api will query data like AnyCode.

+ Parameters
    + AnyCode: Client code, mobile, identity card, company name 
    
+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
+ Response 200 (application/json)

        {
            "ok": true,
            "status": "SuccessQuery",
            "warning": null,
            "error": null,
            "data": {
            "client": null,
            "clients": [
              {
                "id": 32706,
                "alternateLookup": "",
                "priceScheme": "0",
                "terms": 0,
                "creditLimit": 0,
                "billingAddress": "",
                "shippingAddress": "",
                "billing": {
                  "street": "",
                  "city": "",
                  "state": "",
                  "zipcode": "",
                  "country": ""
                },
                "shipping": {
                  "street": "",
                  "city": "",
                  "state": "",
                  "zipcode": "",
                  "country": ""
                },
                "name": "freeyew",
                "code": "aaa",
                "title": "",
                "email": "",
                "type": "staff",
                "group": "",
                "registrationCode": "",
                "gender": "female",
                "dob": "2016-02-01T00:00:00.000Z",
                "ic": "",
                "nationality": null,
                "createdBy": "realmart@xilnex.com",
                "mobile": null,
                "office": null,
                "fax": null,
                "phone": null,
                "alternateContact": null,
                "alternatePhone": null,
                "category": null,
                "firstName": null,
                "lastName": null,
                "expiryDate":"0001-01-01T00:00:00.000Z",
                "pointValue":0,
                "image":"",
                "active":false
              }
            ]
          },
          "timestamp": 1487901505
        }

### /logic/v2/clients/{id}
#### GET
+ To retrive client Information

+ Parameters
    + id: Client id
    
+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        
+ Response 200 (application/json)

        {
          "ok": true,
          "status": "SuccessQuery",
          "warning": null,
          "error": null,
          "data": {
            "client": {
              "id": 32706,
              "alternateLookup": "",
              "priceScheme": "0",
              "terms": 0,
              "creditLimit": 0,
              "billingAddress": "",
              "shippingAddress": "",
              "billing": {
                "street": "",
                "city": "",
                "state": "",
                "zipcode": "",
                "country": ""
              },
              "shipping": {
                "street": "",
                "city": "",
                "state": "",
                "zipcode": "",
                "country": ""
              },
              "name": "freeyew",
              "code": "aaa",
              "title": "",
              "email": "",
              "type": "staff",
              "group": "",
              "registrationCode": "",
              "gender": "female",
              "dob": "2016-02-01T00:00:00.000Z",
              "ic": "",
              "nationality": null,
              "createdBy": "xxx@xilnex.com",
              "mobile": null,
              "office": null,
              "fax": null,
              "phone": null,
              "alternateContact": null,
              "alternatePhone": null,
              "category": null,
              "firstName": null,
              "lastName": null,
              "expiryDate":"0001-01-01T00:00:00.000Z",
              "pointValue":0,
              "image":"",
              "active":false
            },
            "clients": null
          },
          "timestamp": 1487901676
        }


### /logic/v2/clients/{id}/sales
#### GET
+ To retrive client purchase history

+ Parameters
    + id: Client id
    
+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        
+ Response 200 (application/json)

        {  
            "ok":true,
            "status":"SuccessQuery",
            "warning":null,
            "error":null,
            "data":{  
              "purchaseHistories":[  
                 {  
                    "outlet":"PENANG BRANCH",
                    "sales":[  
                       {  
                          "salesId":327056,
                          "amount":0,
                          "paidAmount":0,
                          "balanceAmount":0,
                          "salesDate":"2017-02-01T00:00:00.000Z"
                       }
                    ]
                 }
              ]
            },
            "timestamp":1487902292
        }

    
### /logic/v2/clients/entryform
#### GET
To retrive full list of client entry form

+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        
+ Response 200 (application/json)

        {
            "ok": true,
            "status": "SuccessQuery",
            "warning": null,
            "error": null,
            "data": {
            "compulsoryFields": [
              {
                "fieldName": "Company_Name",
                "fieldTitle": "Company Name",
                "type": "string",
                "isCompulsory": true,
                "defaultValue": null,
                "options": null
              },
              {
                "fieldName": "STRING_EXTEND_2",
                "fieldTitle": "Client Category",
                "type": "selection",
                "isCompulsory": true,
                "defaultValue": null,
                "options": [
                  "Personal",
                  "Company"
                ]
              },
              {
                "fieldName": "DOB",
                "fieldTitle": "Date Of Birth",
                "type": "datetime",
                "isCompulsory": true,
                "defaultValue": "",
                "options": null
              },
              {
                "fieldName": "Race",
                "fieldTitle": "Race",
                "type": "selection",
                "isCompulsory": true,
                "defaultValue": "",
                "options": [
                  "Chinese"
                ]
              }
            ]
            },
            "timestamp": 1487900654
        }

    
### /logic/v2/clients/client
#### POST
create customer without go through compulsory setting
+ Parameters
    + category: Example Personal , Company(client is company name)
    
+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
        {  
            "client":{  
              "id":0,
              "alternateLookup":null,
              "priceScheme":null,
              "terms":0,
              "creditLimit":0,
              "billing":{  
                 "street":"bill street",
                 "city":"bill city",
                 "state":"bill state"
              },
              "shipping":{  
                 "street":"ship street",
                 "city":"ship city",
                 "state":"ship state",
                 "zipcode":"00000",
                 "country":"ship country"
              },
              "name":"suelynn",
              "code":"",
              "title":"",
              "email":"",
              "type":"",
              "group":"",
              "registrationCode":"",
              "gender":"",
              "ic":"",
              "nationality":"",
              "createdBy":"",
              "mobile":"",
              "office":"",
              "fax":"",
              "phone":"",
              "alternateContact":"",
              "alternatePhone":"",
              "category":"catA",
              "firstName":"suelynn",
              "lastName":"chiew",
              "expiryDate": "0001-01-01T00:00:00.000Z",
                "pointValue": 128,
                "image":"",
                "active":true,
                "createdOutlet":"Main Outlet"
            }
        }
        
+ Response 200 (application/json)

    OK

    + Body
    
        {  
            "ok":true,
            "status":"SuccessQuery",
            "warning":null,
            "error":null,
            "data":{  
              "client":{  
                 "id":90014,
                 "alternateLookup":null,
                 "priceScheme":null,
                 "terms":0,
                 "creditLimit":0,
                 "billingAddress":"bill street\nbill city\nbill state",
                 "shippingAddress":"ship street\nship city\n00000\nship state\nship country",
                 "billing":{  
                    "street":"bill street",
                    "city":"bill city",
                    "state":"bill state",
                    "zipcode":null,
                    "country":null
                 },
                 "shipping":{  
                    "street":"ship street",
                    "city":"ship city",
                    "state":"ship state",
                    "zipcode":"00000",
                    "country":"ship country"
                 },
                 "name":"suelynn",
                 "code":"90014",
                 "title":"",
                 "email":"",
                 "type":"",
                 "group":"",
                 "registrationCode":"",
                 "gender":"",
                 "dob":"",
                 "ic":"",
                 "nationality":null,
                 "createdBy":"",
                 "mobile":null,
                 "office":null,
                 "fax":null,
                 "phone":null,
                 "alternateContact":null,
                 "alternatePhone":null,
                 "category":null,
                 "firstName":null,
                 "lastName":null,
                "expiryDate": "0001-01-01T00:00:00.000Z",
                "pointValue": 128,
                "image":"",
                "active":true,
                "createdOutlet":"Main Outlet"
              },
              "clients":null
            },
            "timestamp":1487901794
        }

        
### /logic/v2/clients/{clientId}

#### PUT

Update client detail
+ Parameters
    + clientId: client id
    + category: Example Personal, Company
    
+ Request
    
    + Headers
            
            Accept: application/json
            Header: {header}
            Token: {token}
    
    + Body
            
+ Response 200 (application/json)

    OK
    
    + Body
    
            {  
               "client":{  
                  "id":5042,
                  "alternateLookup":null,
                  "priceScheme":null,
                  "terms":0,
                  "creditLimit":0,
                  "billing":{  
                     "street":"bill street",
                     "city":"bill city",
                     "state":"bill state"
                  },
                  "shipping":{  
                     "street":"ship street",
                     "city":"ship city",
                     "state":"ship state",
                     "zipcode":"00000",
                     "country":"ship country"
                  },
                  "name":"suelynn",
                  "code":"",
                  "title":"",
                  "email":"",
                  "type":"",
                  "group":"",
                  "registrationCode":"",
                  "gender":"",
                  "ic":"",
                  "nationality":"",
                  "createdBy":"",
                  "mobile":"",
                  "office":"",
                  "fax":"",
                  "phone":"",
                  "alternateContact":"",
                  "alternatePhone":"",
                  "category":"Personal",
                  "firstName":"suelynn",
                  "lastName":"chiew"
               }
            }
            
        
## Group Commision

### /logic/v2/commission/{id}

#### DELETE

+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
+ Response 200 (application/json)

    OK

    + Body

            {
                "ok": true,
                "status": "SuccessDelete",
                "warning": null,
                "error": null,
                "data": null,
                "timestamp": 1494989373
            }


    + Schema

### /login/v2/commission/physicians/distributions/{id}
#### DELETE 
+ Parameters
+ Request
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
+ Response 200 (application/json)

    + Body
            {
                "ok": true,
                "status": "SuccessDelete",
                "warning": null,
                "error": null,
                "data": "",
                "timestamp": 1496204482
            }


### /login/v2/commision/profits

#### POST

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        {  
            "profits":[  
              {  
                 "outlet":"main branch",
                 "year":2017,
                 "month":1,
                 "profitLoss":2467.07
              },
              {  
                 "outlet":"main branch",
                 "year":2017,
                 "month":2,
                 "profitLoss":27632.81
              }
            ]
        }

+ Response 200 (application/json)

    + Body

            
        {
            "ok": true,
            "status": "SuccessQuery",
            "warning": null,
            "error": null,
            "data": {
            "profits": [
              {
                "id": 9001,
                "outlet": "MAIN BRANCH",
                "year": 2017,
                "month": 3,
                "profitLoss": 2467.07
              },
              {
                "id": 9002,
                "outlet": "MAIN BRANCH",
                "year": 2017,
                "month": 4,
                "profitLoss": 27632.81
              }
            ]
          },
          "timestamp": 1493177978
        }


    + Schema
    
    
### /login/v2/commision/profits?year={year}&month={month}&outletname={outlet}

#### GET

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
+ Response 200 (application/json)

    OK

    + Body

            {
                "ok": true,
                "status": "SuccessQuery",
                "warning": null,
                "error": null,
                "data": {
                "profits": [
                  {
                    "id": 9001,
                    "outlet": "MAIN BRANCH",
                    "year": 2017,
                    "month": 3,
                    "profitLoss": 2467.07
                  },
                  {
                    "id": 9002,
                    "outlet": "MAIN BRANCH",
                    "year": 2017,
                    "month": 4,
                    "profitLoss": 27632.81
                  }
                ]
                },
                "timestamp": 1493177978
            }

    + Schema
    
### /login/v2/commision/rates

#### POST

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        {  
            "settings":[  
              {  
                 "minimumValue":0,
                 "maximumValue":100,
                 "rate":5
              },
              {  
                 "minimumValue":101,
                 "maximumValue":200,
                 "rate":5
              }
            ]
        }
    
+ Response 200 (application/json)

    OK

    + Body

            {  
                "ok":true,
                "status":"SuccessInsert",
                "warning":null,
                "error":null,
                "data":{  
                  "settings":[  
                     {  
                        "id":9001,
                        "minimumValue":0,
                        "maximumValue":100,
                        "rate":5
                     },
                     {  
                        "id":9002,
                        "minimumValue":101,
                        "maximumValue":200,
                        "rate":6
                     }
                  ]
                },
                "timestamp":1493177719
            }


    + Schema
    
### /login/v2/commision/rates

#### PUT

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        {  
            "settings":[  
              {  
                 "id":9001,
                 "minimumValue":0,
                 "maximumValue":100,
                 "rate":5
              },
              {  "id":9002,
                 "minimumValue":101,
                 "maximumValue":200,
                 "rate":5
              }
            ]
        }
    
+ Response 200 (application/json)

    OK

    + Body

            {  
                "ok":true,
                "status":"SuccessUpdate",
                "warning":null,
                "error":null,
                "data":{  
                  "settings":[  
                     {  
                        "id":9001,
                        "minimumValue":0,
                        "maximumValue":100,
                        "rate":5
                     },
                     {  
                        "id":9002,
                        "minimumValue":101,
                        "maximumValue":200,
                        "rate":6
                     }
                  ]
                },
                "timestamp":1493177719
            }


    + Schema
    
### /login/v2/commision/users

#### GET

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
+ Response 200 (application/json)

    OK

    + Body

            {
                "ok": true,
                "status": "SuccessQuery",
                "warning": null,
                "error": null,
                "data": {
                    "userCommissionPointFactors": 
                    [
                        {
                            "id": 9001,
                            "username": "xxx@xilnex.com",
                            "firstname": "xxx",
                            "lastname": "",
                            "pointFactor": 2,
                            "incentiveType": "salesincentive"
                        }
                    ]
                },
                "timestamp": 1495512201
            }


    + Schema
    
### /login/v2/commision/users

#### POST

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
            {  
                "userCommissionPointFactors":[  
                {  
                    "username":"realmart@xilnex.com.my",
                    "firstname":"MartTheReal",
                    "lastname":"",
                    "pointFactor":2,
                    "incentiveType":"salesincentive"
                }
                ]
            }
    
+ Response 200 (application/json)

    OK

    + Body

            {  
                "ok":true,
                "status":"SuccessInsert",
                "warning":null,
                "error":null,
                "data":{  
                    "userCommissionPointFactors":[  
                    {  
                        "id":9001,
                        "username":"realmart@xilnex.com",
                        "firstname":"MartTheReal",
                        "lastname":"",
                        "pointFactor":2,
                        "incentiveType":"salesincentive"
                    },
                    {  
                        "id":9002,
                        "username":"realmart@xilnex.com.my",
                        "firstname":"MartTheReal",
                        "lastname":"",
                        "pointFactor":2,
                        "incentiveType":"salesincentive"
                    }
                    ]
                },
                "timestamp":1495512880
            }


    + Schema
    
### /login/v2/commision/users

#### PUT

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
            {  
                "userCommissionPointFactors":[  
                    {  
                        "id":9001,
                        "username":"realmart@xilnex.com",
                        "firstname":"MartTheReal",
                        "lastname":"",
                        "pointFactor":3,
                        "incentiveType":"salesincentive"
                    }
                ]
            }
    
+ Response 200 (application/json)

    OK

    + Body

            {  
                "ok":true,
                "status":"SuccessInsert",
                "warning":null,
                "error":null,
                "data":{  
                    "userCommissionPointFactors":[  
                    {  
                        "id":9001,
                        "username":"realmart@xilnex.com",
                        "firstname":"MartTheReal",
                        "lastname":"",
                        "pointFactor":2,
                        "incentiveType":"salesincentive"
                    },
                    {  
                        "id":9002,
                        "username":"realmart@xilnex.com.my",
                        "firstname":"MartTheReal",
                        "lastname":"",
                        "pointFactor":2,
                        "incentiveType":"salesincentive"
                    }
                    ]
                },
                "timestamp":1495512880
            }


    + Schema

### /login/v2/commision/users

#### DELETE

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
+ Response 200 (application/json)

    OK

    + Body

            {
                "ok": true,
                "status": "SuccessDelete",
                "warning": null,
                "error": null,
                "data": "",
                "timestamp": 1495513201
            }

    + Schema
    
## Group CompanyInfo

### /logic/v1/companyinfo/{locationid}

#### GET

+ Parameters

    + locationid (required)

+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

### /logic/v1/companyinfo/PostCompanyInfo

#### POST

+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            {
              "OutletLocation": "aliqua eu",
              "OutletType": "ullamco labore dolor consequa",
              "COMPANY_MAIN_CONTACT_EMAIL": "ipsum incididunt dolor in",
              "COMPANY_PRINTED_NAME": "eiusmo",
              "COMPANY_MAIN_CONTACT_TEL": "dolor et laborum labore",
              "ArrOutletOwndership": [
                "Ut occaecat est eu"
              ],
              "LocationLongitude": 58425084,
              "CompanyRegistrationNumber": "mollit",
              "CurrentCountry_": "incididunt dolor ex",
              "COMPANY_FAX": "est officia exerc",
              "Location_Entity": "pariatur",
              "COMPANY_PRINTED_ADDRESS": "ipsum qui anim enim et",
              "LocationLatitude": -52926077,
              "Outlet_Ownership": "amet a",
              "COMPANY_MAIN_CONTACT": "tempor nostrud"
            }

    + Schema

            {
              "description": "Outlet company information model",
              "type": "object",
              "properties": {
                "locationID": {
                  "description": "selected outlet location id",
                  "type": "string"
                },
                "locationName": {
                  "description": "selected outlet location name",
                  "type": "string"
                },
                "COMPANY_PRINTED_NAME": {
                  "type": "string"
                },
                "COMPANY_PRINTED_ADDRESS": {
                  "type": "string"
                },
                "COMPANY_MAIN_CONTACT": {
                  "type": "string"
                },
                "COMPANY_MAIN_CONTACT_EMAIL": {
                  "type": "string"
                },
                "COMPANY_MAIN_CONTACT_TEL": {
                  "type": "string"
                },
                "COMPANY_FAX": {
                  "type": "string"
                },
                "CompanyRegistrationNumber": {
                  "type": "string"
                },
                "GSTRegistrationNumber": {
                  "type": "string"
                },
                "Location_Entity": {
                  "type": "string"
                },
                "OutletType": {
                  "type": "string"
                },
                "ArrOutletType": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "OutletLocation": {
                  "type": "string"
                },
                "Outlet_Ownership": {
                  "type": "string"
                },
                "ArrOutletOwndership": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "CurrentCountry_": {
                  "type": "string"
                },
                "ArrCountry": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "LocationLongitude": {
                  "format": "double",
                  "type": "number"
                },
                "LocationLatitude": {
                  "format": "double",
                  "type": "number"
                }
              }
            }

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

### /logic/v1/companyinfo/PostSignUpDetails

#### POST

+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            {
              "OutletCount": 47038801
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "Complete": {
                  "type": "boolean"
                },
                "BusinessName": {
                  "type": "string"
                },
                "BusinessType": {
                  "type": "string"
                },
                "OutletCount": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

## Group Integration

### /logic/v2/integration
#### POST
Use to update invoice id when sales is cancel and re-create
+ Parameters
    + externalDocumentId: Reference key from external Example: e-commerce invoice id
    + integrationModule: Example Lazada, 11street, Shopee
+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body
            {  
                "integration":{  
                    "externalDocumentId":"1002",
                    "internalDocumentId":"9002",
                    "integrationModule":"lazada",
                    "documentType":"sales",
                    "postStatus":false,
                    "postingDateTime":"2017-03-17T18:09:55.000Z"
                }
            }

### /logic/v2/integration/pending?integrationModule={integrationModule}&documentType={documentType}
#### GET
Get pending orders based on integration module
+ Parameters
    + documentType: Example: Sales Invoice, Sales Order
    + integrationModule: Example: Lazada, 11street, Shopee
+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body
            {  
               "ok":true,
               "status":"SuccessQuery",
               "warning":null,
               "error":null,
               "data":[  
                  {  
                     "id":9003,
                     "externalOrderId":"laz0103",
                     "internalDocumentId":"9009512",
                     "postStatus":false,
                     "integrationModule":"lazada",
                     "integrationType":"sales"
                  }
               ],
               "timestamp":1489543516
            }
    
### /logic/v2/integration/document?integrationModule={integrationModule}&externalDocumentId={key}
#### GET
Retrieve posted document by key and module

+ Parameters
    + externalDocumentId: Reference key from external Example: e-commerce invoice id
    + integrationModule: Example Lazada, 11street, Shopee
+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {  
               "ok":true,
               "status":"SuccessQuery",
               "warning":null,
               "error":null,
               "data":{  
                  "integration":{  
                     "id":9009512,
                     "dateTime":"2017-03-15T09:57:14.000Z",
                     "recipientName":"active members 01",
                     "clientId":"5043",
                     "clientName":"active members 01",
                     "paid":88,
                     "balance":0,
                     "term":"1",
                     "cashier":"realmart@xilnex.com",
                     "billingAddress":{  
                        "street":"476 5th Ave New York",
                        "city":"New York City",
                        "state":"New York",
                        "zipcode":"10018",
                        "country":"United States"
                     },
                     "shippingAddress":{  
                        "street":"",
                        "city":"",
                        "state":"",
                        "zipcode":"",
                        "country":""
                     },
                     "shippingRemark":null,
                     "shipmentDateTime":null,
                     "salesPerson":"RealMart Admin",
                     "shippingStatus":"NA",
                     "status":"COMPLETED",
                     "paymentStatus":"PAID",
                     "outlet":"MAIN BRANCH",
                     "confirmOutlet":null,
                     "remark":"dummy sales remark",
                     "discountPercentage":0,
                     "taxPercentage":0,
                     "cost":0,
                     "profit":83.02,
                     "rounding":0,
                     "recipientContact":null,
                     "netAmount":88,
                     "grandTotal":88,
                     "gstTaxAmount":4.98,
                     "exchangeRate":0,
                     "foreignTotalAmount":0,
                     "currencyCode":null,
                     "siteId":null,
                     "reference":"laz0103",
                     "items":[  
                        {  
                           "salesDate":"2017-03-15T00:00:00.000Z",
                           "itemId":5046,
                           "itemCode":"12092016",
                           "alternateLookup":"",
                           "itemName":"12092016",
                           "itemType":"",
                           "model":"asd",
                           "description":"",
                           "brand":"",
                           "unitPrice":83.02,
                           "quantity":1,
                           "profit":83.02,
                           "cost":0,
                           "advanceDiscount":null,
                           "discountPercentage":0,
                           "instoreLocation":"default",
                           "priceSchemes":{  
                              "manufacturerPrice":0,
                              "salePrice":15,
                              "employeePrice":0,
                              "wholesalePrice":10,
                              "customPrice":0,
                              "webPrice":38,
                              "webDealerPrice":0,
                              "cost":0
                           },
                           "uniqueId":null,
                           "matrixId":null,
                           "matrixBarcode":null,
                           "matrixX":null,
                           "matrixY":null,
                           "salesPerson":"RealMart Admin",
                           "subtotal":88,
                           "taxCode":"SR",
                           "gstPercentage":6,
                           "gstAmount":4.98,
                           "gstInclusive":true,
                           "enterPrice":88,
                           "scanCode":null,
                           "remark":null,
                           "subItems":null
                        }
                     ],
                     "collection":[  
                        {  
                           "amount":88,
                           "reference":null,
                           "method":"cash"
                        }
                     ]
                  },
                  "sales":null,
                  "key":null,
                  "status":null
               },
               "timestamp":1489543235
            }

### /logic/v2/integration/document?documentType={documentType}&externalDocumentId={key}
#### GET
Retrieve integration status by id and document type

+ Parameters
    + externalDocumentId: Reference key from external Example: e-commerce invoice id
    + documentType: Example: Sales Invoice, Sales Order
+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {  
               "ok":true,
               "status":"SuccessQuery",
               "warning":null,
               "error":null,
               "data":{  
                  "integration":{  
                     "id":9009512,
                     "dateTime":"2017-03-15T09:57:14.000Z",
                     "recipientName":"active members 01",
                     "clientId":"5043",
                     "clientName":"active members 01",
                     "paid":88,
                     "balance":0,
                     "term":"1",
                     "cashier":"realmart@xilnex.com",
                     "billingAddress":{  
                        "street":"476 5th Ave New York",
                        "city":"New York City",
                        "state":"New York",
                        "zipcode":"10018",
                        "country":"United States"
                     },
                     "shippingAddress":{  
                        "street":"",
                        "city":"",
                        "state":"",
                        "zipcode":"",
                        "country":""
                     },
                     "shippingRemark":null,
                     "shipmentDateTime":null,
                     "salesPerson":"RealMart Admin",
                     "shippingStatus":"NA",
                     "status":"COMPLETED",
                     "paymentStatus":"PAID",
                     "outlet":"MAIN BRANCH",
                     "confirmOutlet":null,
                     "remark":"dummy sales remark",
                     "discountPercentage":0,
                     "taxPercentage":0,
                     "cost":0,
                     "profit":83.02,
                     "rounding":0,
                     "recipientContact":null,
                     "netAmount":88,
                     "grandTotal":88,
                     "gstTaxAmount":4.98,
                     "exchangeRate":0,
                     "foreignTotalAmount":0,
                     "currencyCode":null,
                     "siteId":null,
                     "reference":"laz0103",
                     "items":[  
                        {  
                           "salesDate":"2017-03-15T00:00:00.000Z",
                           "itemId":5046,
                           "itemCode":"12092016",
                           "alternateLookup":"",
                           "itemName":"12092016",
                           "itemType":"",
                           "model":"asd",
                           "description":"",
                           "brand":"",
                           "unitPrice":83.02,
                           "quantity":1,
                           "profit":83.02,
                           "cost":0,
                           "advanceDiscount":null,
                           "discountPercentage":0,
                           "instoreLocation":"default",
                           "priceSchemes":{  
                              "manufacturerPrice":0,
                              "salePrice":15,
                              "employeePrice":0,
                              "wholesalePrice":10,
                              "customPrice":0,
                              "webPrice":38,
                              "webDealerPrice":0,
                              "cost":0
                           },
                           "uniqueId":null,
                           "matrixId":null,
                           "matrixBarcode":null,
                           "matrixX":null,
                           "matrixY":null,
                           "salesPerson":"RealMart Admin",
                           "subtotal":88,
                           "taxCode":"SR",
                           "gstPercentage":6,
                           "gstAmount":4.98,
                           "gstInclusive":true,
                           "enterPrice":88,
                           "scanCode":null,
                           "remark":null,
                           "subItems":null
                        }
                     ],
                     "collection":[  
                        {  
                           "amount":88,
                           "reference":null,
                           "method":"cash"
                        }
                     ]
                  },
                  "sales":null,
                  "key":null,
                  "status":null
               },
               "timestamp":1489543235
            }

### /logic/v2/integration/status?integrationModule={integrationModule}&externalDocumentId={externalDocumentId}
#### PATCH
Update post status on integration

+ Parameters
    + externalDocumentId: Reference key from external. Example: ecommerce invoice id
    + integrationModule: Example Lazada, 11street, Shopee
+ Request

    + Headers

            Accept: application/json

    + Body
            {  
                 "internalDocumentId":"9009512",
                 "postStatus":true,
                 "integrationModule":"lazada",
                 "integrationType":"sales"
            }

+ Response 200 (application/json)

    OK

    + Body

            {  
               "ok":true,
               "status":"SuccessQuery",
               "warning":null,
               "error":null,
               "data":true,
               "timestamp":1489543513
            }
            
## Group Items

### /logic/v2/items/{id}

#### GET
To retrive item detail

+ Parameters
    + id: item id
+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {
                "ok": true,
                "status": "SuccessQuery",
                "warning": null,
                "error": null,
                "data": {
                "item": {
                  "id": 236016,
                  "itemCode": "1015",
                  "itemName": "1015",
                  "itemType": "",
                  "itemModel": "",
                  "alternateLookup": "",
                  "description": "",
                  "brand": "",
                  "category": "Category1",
                  "departmentCode": "",
                  "departmentName": null,
                  "vendorCode": "",
                  "cost": 11.21,
                  "suggestedPrice": 60,
                  "salesPrice": 28,
                  "employeePrice": 30,
                  "wholesalesPrice": 40,
                  "customPrice": 2,
                  "webPrice": 70,
                  "webDealerPrice": 80,
                  "attribute": "",
                  "size": "",
                  "stockType": null,
                  "matrixXGroup": null,
                  "matrixYGroup": null,
                  "groupName": "Group01",
                  "promotionGroup": "PromoGroup1",
                  "customField1": "1",
                  "customField2": "2",
                  "customField3": "3",
                  "customField4": "4",
                  "customField5": "5",
                  "customField6": "6",
                  "customField7": "7",
                  "customField8": "8",
                  "customField9": "9",
                  "customField10": "10",
                  "customField11": "11",
                  "customField12": "12",
                  "customField13": "13",
                  "customField14": "14",
                  "customField15": "15",
                  "gstRate": 6,
                  "gstSupplyCode": "SR",
                  "gstPurchaseCode": "TX",
                  "productMatrixInfo": null,
                  "uniqueItemInfo": null,
                  "subItems": null
                },
                "items": null
                },
                "timestamp": 1487902852
            }
    + Schema

            {
              "type": "object",
              "properties": {}
            }
            
### /logic/v2/items/search?code={code}

#### GET
To retrive item details by code

+ Parameter
    + code: item id, item code, barcode, alternate look up
    
+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    + Body
    {
        "ok": true,
        "status": "SuccessQuery",
        "warning": null,
        "error": null,
        "data": {
        "item": null,
        "items": [
          {
            "id": 236016,
            "itemCode": "1015",
            "itemName": "1015",
            "itemType": "",
            "itemModel": "",
            "alternateLookup": "",
            "description": "",
            "brand": "",
            "category": "Category1",
            "departmentCode": "",
            "departmentName": null,
            "vendorCode": "",
            "cost": 11.21,
            "suggestedPrice": 60,
            "salesPrice": 28,
            "employeePrice": 30,
            "wholesalesPrice": 40,
            "customPrice": 2,
            "webPrice": 70,
            "webDealerPrice": 80,
            "attribute": "",
            "size": "",
            "stockType": null,
            "matrixXGroup": null,
            "matrixYGroup": null,
            "groupName": "Group01",
            "promotionGroup": "PromoGroup1",
            "customField1": "1",
            "customField2": "2",
            "customField3": "3",
            "customField4": "4",
            "customField5": "5",
            "customField6": "6",
            "customField7": "7",
            "customField8": "8",
            "customField9": "9",
            "customField10": "10",
            "customField11": "11",
            "customField12": "12",
            "customField13": "13",
            "customField14": "14",
            "customField15": "15",
            "gstRate": 6,
            "gstSupplyCode": "SR",
            "gstPurchaseCode": "TX",
            "productMatrixInfo": null,
            "uniqueItemInfo": null,
            "subItems": null
          }
        ]
        },
        "timestamp": 1487902691
    }

    + Schema

            {
              "type": "object",
              "properties": {}
            }
            
### /logic/v2/items/barcodequery?code={code}&locationid={locationid}

#### GET
To retrive item details by code and location

+ Parameter
    + code: item code
    + locationId: location id
    
+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

        {
            "ok": true,
            "status": "SuccessQuery",
            "warning": null,
            "error": null,
            "data": {
            "item": {
                "id": 5044,
                "itemCode": "edrte",
                "itemName": "erte",
                "itemType": "",
                "itemModel": "",
                "alternateLookup": "",
                "description": "",
                "brand": "",
                "category": "Package",
                "departmentCode": "",
                "departmentName": "",
                "vendorCode": "",
                "cost": 33.98,
                "suggestedPrice": 0,
                "salesPrice": 35,
                "employeePrice": 0,
                "wholesalesPrice": 10,
                "customPrice": 0,
                "webPrice": 0,
                "webDealerPrice": 0,
                "attribute": "",
                "size": "",
                "stockType": "bundle",
                "matrixXGroup": null,
                "matrixYGroup": null,
                "groupName": "",
                "promotionGroup": null,
                "customField1": "01",
                "customField2": "02",
                "customField3": "03",
                "customField4": "04",
                "customField5": "05",
                "customField6": "06",
                "customField7": "07",
                "customField8": "08",
                "customField9": "09",
                "customField10": "010",
                "customField11": "011",
                "customField12": "012",
                "customField13": "013",
                "customField14": "014",
                "customField15": "015",
                "gstRate": 6,
                "gstSupplyCode": "SR",
                "gstPurchaseCode": "TX",
                "productMatrixInfo": null,
                "uniqueItemInfo": null,
                "subItems": [
                {
                    "id": 2324,
                    "itemCode": "1015",
                    "itemName": "1015",
                    "itemType": "",
                    "itemModel": "",
                    "alternateLookup": "",
                    "description": "",
                    "brand": "",
                    "category": "Category1",
                    "departmentCode": "",
                    "departmentName": null,
                    "vendorCode": "",
                    "cost": 11.21,
                    "suggestedPrice": 60,
                    "salesPrice": 28,
                    "employeePrice": 30,
                    "wholesalesPrice": 40,
                    "customPrice": 2,
                    "webPrice": 70,
                    "webDealerPrice": 80,
                    "attribute": "",
                    "size": "",
                    "stockType": null,
                    "matrixXGroup": null,
                    "matrixYGroup": null,
                    "groupName": "Group01",
                    "promotionGroup": "PromoGroup1",
                    "customField1": "1",
                    "customField2": "2",
                    "customField3": "3",
                    "customField4": "4",
                    "customField5": "5",
                    "customField6": "6",
                    "customField7": "7",
                    "customField8": "8",
                    "customField9": "9",
                    "customField10": "10",
                    "customField11": "11",
                    "customField12": "12",
                    "customField13": "13",
                    "customField14": "14",
                    "customField15": "15",
                    "gstRate": 6,
                    "gstSupplyCode": "SR",
                    "gstPurchaseCode": "TX",
                    "productMatrixInfo": null,
                    "uniqueItemInfo": null,
                    "subItems": null
                }
                ]
            },
            "items": null
            },
            "timestamp": 1487902749
        }
    + Schema

            {
              "type": "object",
              "properties": {}
            }
            
### /logic/v2/items/priceschemes

#### GET
To retrive item price schemes name list 

+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {
                "ok": true,
                "status": "SuccessQuery",
                "warning": null,
                "error": null,
                "data": {
                "fields": [
                  "Sales Price",
                  "Employee Price",
                  "Wholesale Price",
                  "Custom Price",
                  "Suggested Price",
                  "Web Price",
                  "Web Dealer Price"
                ]
                },
                "timestamp": 1492750849
            }


    + Schema

            {
              "type": "object",
              "properties": {}
            }
## Group Outlets

### /logic/v2/outlets

#### GET

+ Request
    
    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {  
               "ok":true,
               "status":"SuccessQuery",
               "warning":null,
               "error":null,
               "data":{  
                  "location":null,
                  "locations":[  
                     {  
                        "id":"1",
                        "outlet":"MAIN BRANCH"
                     },
                     {  
                        "id":"a0e2cf1fbfd4414f8356d6e2a32e6457",
                        "outlet":"PENANG BRANCH"
                     },
                     {  
                        "id":"c0d0b16f4b0c4834a52087176462bdc1",
                        "outlet":"PERAK BRANCH"
                     }
                  ]
               },
               "timestamp":1487903117
            }
            
### /logic/v2/outlets/{id}

#### GET

+ Request
    
    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK
 
    + Body

            {  
               "ok":true,
               "status":"SuccessQuery",
               "warning":null,
               "error":null,
               "data":{  
                  "location":{  
                     "id":"7d6f07132d2045d2be58e9f0ed807727",
                     "outlet":"Cheras"
                  },
                  "locations":null
               },
               "timestamp":1487903159
            }

## Group Locations



### /logic/v1/locationfunctions/NewOutlet/{outletname}

#### POST

+ Parameters

    + outletname (required)

+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

## Group Member

### /logic/v1/useraccount/change_password

#### PUT

+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {
                "CurrentPassword": {
                  "type": "string"
                },
                "NewPassword": {
                  "type": "string"
                },
                "confirmPassword": {
                  "type": "string"
                }
              }
            }

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

### /logic/v1/useraccount/reset_password

#### PUT

+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

#### AlternateLookUp, MobileNo and RegCode need to be unique [PUT /logic/v1/useraccount/update_member_unique_1]

+ Parameters

    + id (required)

+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            {
              "Company_Name": "in quis officia",
              "Creation_Date": "22/07/1964",
              "Email": "d2DRZtUqnCq9OLRmOCbj6iPubkM9Y8OZ2zmQfnzk9yjVmSMmKF2nfi0Jt0keooAH3WMsSxqczKonj2h6Lajm1tcMx'bECe3vkQn0EAYdSPiwTbUR9ky7mxczw377qOa8nFed2fTH2TQZut9jO3AFHMLCqnMj9d4qQMErGyfpzAtvaOsKQ-LlmumawFF5LN7VXDNKsvDK8O6DsGJxMuvEO7UodD+EEK9KnzqduupLzz_NhhgY7C9378Mb1oVsRUTCUInZbgmu72xj'wgxv686edVoJrNRP93aGXUKxI4SrVb4j8xUAqiRVk8XjIRVcyQEOEBWuzHJaWzFd7tERXiZHY5XJNlkoHI_gbHL6rEEqVeQG'z3c-_zhMSOkZbtMFWYN5MVXnx7kop5rMDQR0fZgw7BL4gT7.PeR8DFOaZ8zOWurTnGasJ-p2LxvOhVM60CUrbI8p4M4JtU_ikbxQhpC3Xyziut5sqbO-loBXZjscgYl7iRZCWdc65ZuC1Y4NafxTAn4q8rQPdI3eMzLug9sJ.rBf7QUsULX4acEE8.wPFRxVVgiD0jMmErJCxlDTAEloIttu2_vlX1n4FxDuqAfTJo-IeZH_hf.K0ha9UbU70LjXO1MPWRJIiD_GZ90wutPC7gYlYkuNIcCl_4WynDABApyI6wc9fWzbkhnP47PBNhlUrLBoB7wswzWgwPFiiBB+BIzW4TNPhsB1nH0q3vVeUrFTDKzlpB6eDbw9WB5UNHq_uEQZQ6lhXkjYY553gdcgFqF6Bc6qLRwvVqaZYzz1ZzqJEpO3x16jQ'aZDzOSi5TYJBEp8cjJSi_3lkMUPQcZdj.y192A5SK5WKjviYN.7c1YZKkFEGn78ur1oH4'DJvDsfwVWNJiM5qEdDM0tYFPQ6GbiM5TgrBncDroJN5Turvdq792kn2XGBCuPEmmY'K4CUz4dwYdNmukJntg1IYt1UAOYnXOPRRmsP9Zzt2bMp1_gRjfnA8SeKWW7lbHmi4'YtRjOdGQYrwmU.bQOL31j9fTPGyT89oxrKJHorSCD1-gZML5fMxyw10fttnX8mPqvXv4rYOgrubmydSLKE4aClUO'qJVLW0g8zzm2hFN1Tmp9owoTD96HP72VEK1F8uOGoz8Ife2VAYVe1whyszsmvatbkSfSc5TJ8IKNFift2ioJXYIwJk+LGjU1Ewwfoe+u_AHN6AUNXOJ8TKBbiIfFYOprONHrqtGw3NVTIyR3a89B5JdESsyYgFNIe4F3BiJLr_6ial1K3jqE359qwdT1j97HU8.3u2vhoYxtjnFqxV7RjGZTE0W5fzlbVNGe7BryW1k_gv8mqtl8V7'ukb0XbnMxRvYZtda8QNqhoG8HfAzTEs9KZBCPUDXMiCcR8OfYxiOjcQSkQur7rTSsEwBv0GA4jkeSrIm5e-iW2L9ld0k455bc0lt7GzojRqpmuGIQ87dDb_sw2k+dfYMp2lXDi9Nush8xnmlNjsP99ddSDq9lUJ3K6oNJQ8ee3cor3IRqMC1aW7ZDtu7LgY8nN1QjAZlxOR3ixEyhA.FXLgnZFS_awwWNu9Pic2qrb5aYRUMV2+unraz_a5t6jJGSTAfmrknfCg7zrhKa8S3UpphUyUh50a9QMqVhuIQm8Z84w3Aahg94feM6WfWAdd6nwn+Ak5c9zIcimmEgD0uW8ODURm4.cZbP3_XHZMOOyPd079sfCBbJ86EtuksZW8xyus-vY2Vcc14tOhySdKelBGTlScIRX_C01AEFzGB_cJMldyDYDTGbxj4Fr47ysNNCNajQY3L4kTvV0OZY.KzYv9qCvxKvCMwCTghxY81LxatPAbVuHQSXDHs7JNCNkn5Ut'VMJqxgLa49OhmR3S0fzJ_ialmdvf5HGrm11JVJpHKVZ3KUIg9B9HI4MDX.5mA1OaNOpxyUxsa8ClhO_zqv32N942V9Lybf6B2xksTA6khCL5a8HPk'Ww67v.lEpqGGknHfm4ZTI0gQhr8_WbxLremLQGpCu5X8tubLhgKr_TqAudFKTNJR8XWOYWBuXSrp7Jogl+STwk9ve5lzya5bBitWc_7YFEoMgPjgXdjDGTpbzGAsp+rvjlCVBXpKFYuvZSO_OWBkhOwmbJmbGMZ5fw8vUTeydiKs.spyyLGqSvllN.4aVcf.ZkRqiiZhKSH8GWdLyF1iOun_cphoarh6Oq2qhrKAkNuFs43IHSqHzvRhtMvt_BSOqBbn_VM11lnB_bIYlrD+u45pfE0faT2kZx2NlabC51VnHultkC1zq19aKDNlXhvgiZROD8r5g6Q-AYGYmURIvqJ8ge94A67FCbr3Y9FFEtLdmrk+n3siotuOymWfBZFgxso2TgTa87c8jNnQdWbeGf3E0rxxY4j2UhM_LVvtre5yv8KZFAAFkdAk+tcJpwqIK1ausuZJUA_RRydjVYpv9iaTI6PvYDbu86VCSEYL3zXRVJftD0bK1dh3WZw0zY1j'MRZjeCeqICUhD8IZ8UYswhT8i-VJFR5uDAaUf8XYoDiyXVYvLOrHKWU72xZpnwgkeWLyB168kDI_464lDgcccyfODVclZ7EeAAmwD96-obCQZ15YanC4M2AaxIDIDCYGDppS4uT5BLOo98L0M9lF2YZG5Oi8NkqTXUSazl5QsIaQXMtx6Ea91XFGqfNP.e2otu7XNTZGBrStT5Fko9afAngfCbTM869USf9Fs4xQrMV8UqcZSx3vqvnjl-IcDoVQmh319NMgWdX7HjdSi7hW9ldQh'X4cTp3Y4PrrD8F1toNwpuRCL_WoJ3qvOLXd4KWt4JhLbYZ83y_4Q0JaRF1P4mwgGDanV75U5K'x7a5twNQvwMu4tzGM4JdzwxE28SMfKz6CDGQqDi.KX8LC0rsJlde743KJitc2OtW7fvus267gWW0bAhgS1t8ClUPqm6TpCyD5V1vOWXcqlsjiA5d4ZBLfRQ+fGbnxnHZQK7PFKoRN_CUvs2iSTotQN2C92WhVUx4qGwak65Z.9rgSPtivyMXHLMCarW77x_BfVEE02XqpyfYOsdrpGkx1r8wI885l_5'GpwtlucWrtvLNBk3WBeWQRS6SzBnzFjZmVl796VbbLQeR2ocF8RwxP.IhRCt+fr6ZIJUERbOxZUCcFsIJDmto2JNXCGxXcL1fB4TGhk4Jwno4DdSIrFDeHVsyjtsJaogPL.RVU2cvGAdrCKk7n4D.xhlIHrKZYX46zYvFO0yXLGYsRjzAYHk07Hc8ilp9NrTB7F9EpMy3Z.57a0sA6tzwgyr-DjsJ7yKPMlnNZuSUpK87VMECzPGbN0OQakT2zI+kXez9oY8l0tJx78IO7Vb1SRzgGknzE3uDW8q8eXBbz9c6CQXU_x9AU4mhX1wx47VnPyEA69nQYHkJVNdddh6CZITNxZqWuL2-5oNkAyN0DdAEWKQYgqVuXp_9YyfWq3HFdu.nUrr0iCzrrrytSxUq72Mc3GbY0bt4okbT12biHsZPHzHN827kmLykpd2Ze5wD4NMxEW840M1kWVcjuP.Lem2JVjAjUTfsmTWEgrvpcScgQ54afv5Se7FSVqAz2cGhMVAOvxkgaxO8lNshSjQiyHN2JlYEMgcXMxQkgpWJcVPDBm4X_xNX'BcRZaAulxOb4qzP7PNWhBc1MO2TtcgJ4Iq5NA8Ks7k6qx_hQmcZcYnVKDEjorwwquEGvAro8abCVlqpxYKVjSPs0yd.LEji4QYJUkEFDv5nyOvKgDLou_XwnKrjqwCIStCyy0xz925C38k53Q18AeJ.STvJG_fTYHDvgivf4dl_aBGt4C1Q1qqo5unIrdFthz2iGLgGN3naxljhDP5Ktw9eoRoIXszSQdT4ZR03rz'qjmFEFVCGWoFQngQS5ruY4WuBtDCuJ6r'D7Kw6IsZa0ZbHju9XcCIyjFaif3xxUll5gi0E_ehgqkHDlcdbGizk-Lr0CFtt86K2RbmhcuSwjLN3xeXSnsk1PB5oc8Jf6pRC2KKRDBi58aiOwkepgV00HdDCpc6TbsvDtmEOStmW3_tOA_-10R3qrsNF5_o_SxgkvPswlrw1xBuovKpYQ2IzVZ_D8DT4KKR7JR-qN9qtlErTwn6XEWw6PcqNdWMEJ8C6JSElzYxU8PshFpgMEyVlnTF83mRz49aOBxdwfO0hhr89pwQtIv34kR9waUSWi8GXE0bg+fHNJ_h-hooG8W2lgM_glifY7zClPeohGRZSPGMd8e8F8O0zljYfMea14c'cHZpYtCAgv_vcLJF0NGUOUd2cME3C_zjUiXtlSZiMhnsptbb1ZPQ8PM7RV9jA2S4jWMlqD1On7RlFprHto0jZtdqzLY'70cwhA.wwL7_kfDwTy1PRSlELkGVRGYiUvSLhAH76Bpf6JGFxgW9oL6CcuU1WyyKyFvHkf9agA53mnxBgboQniXFAoE622GQnoejJ5uU.dBYVF32rEk1NS3ifst5k6dtROTgqKeBncSN7Avuo5UEk73OP4Y3uwQmfku4ppKs8Yu8X6uNBgml-yVjodafgxPhC9YEFFq48LTrUbQCrU6H2GfAnfm12I7M1pq82zHXXhB2T9cuoaOUy7C3bFjRCogEIDabfco46ZU0E7KY4iRm55cT.FoQJiE4cYuQAYRji9Uf7K8vn0Dcg2FKLB7Nv7Gz9COkANMMDB5QM7QZa3rZRD8mWqXB_PfKhFRinr0L5-3bhWD4_3RC2+4N9QLwLqrDpQ171LrJn'YM0SaTmvOe0jPsdjDBE8mN.bPCMFq3QfcS2Cv5hadhN-DC8w6rd3P_lLmTKZ0QUmmypd1Z5HHkD597x2sz1OjMRQCD2Nk6If7G5_sKmKUnmoorgXtqP'KaVfGdcaBBFV7rFgoVkp4gxc_zST9A2SVG9xDFndKplLmoTmEh99r3DtjjXCcRY4v8dPVsu7l7'wrO2CjooFSK8iT5B1ClmDjxmDPrr66mBujXTBsirhVQnktnJjUnb8rnsZ+65Driao51NqGLObB8nl8tcZwg_NiGO8JwhLVlbL1ZKI2CYHvSI6I@o7IPdTkWRM8aanx-A3N3mdg7sQKmwYgN2ZTKnskxO79Y2x69i6ETTkU.0IBBw_AKcJuKrpaHZ-gQT2tFVRVtPmQ_SQGkQg1GbYmsTEx9fluOF9d-B0hUBVg5By1TaqBz1H-ytBOHR55It36Y9APyVL4_Eq4V7.mhsVWP5UtTYv0fA9Y5q-kNabmqtRtY8WKSD9Kj9Rb7tgz-1kHv2s29h4su28fuUvkfEzqLPc_im.ei3ZlgnJS_0BLGsoEgcW2aqEAXbscExuYapm1cj2yg0fPpcOfG6PnJYm2G4qWILtg8IPkR6TyP8NEp3mX3wosfe3T5vflTlgmg1v.zywmgS0pERkcOlq7wCFviE6GtbTRnmLeGnWpYPyJMHNep4XYOhv54dD4mWaAUJpFUY7rYeb.b6BRqQ1JJ6pai5n0KrRxaMSRgP0REuQMlviRumpDVVbwLc0HDEeDCowQiYgiwsLItMh3Nzv5bQg6ZP.w-hjgwIM3IMdhsCkHUoVX_PEJcnMEzpqPU9zJZdJl2AyHY_5X8pA5id3_KfaG5NARVwQwk9aYxfIEcG7o-MvEaIfgrAJftWrIp78LYW-G625r683tyAGQgB10WnDDqIuwua11kQT48RN6PZeYu0taLht-y_dlkHsa3s.GU4noszlj8buy.tzXKnGywdruggFkEPW37USgqwCg5hhzbdzY2_0S13s7zg3zlQ_93qbpkwy4Y9SzieK7H9ubF3yrlP6e9jPDyjBd-iyxqJYd0xNIBeqOFPoQ8IwxYWGFmKNZoOJGLZEiapbVATQYE_-bRCpSbcgfxXFcbUaQJJkIVtQKoyZDN7hwuansfCr9LPLCxNaBs6pqy5PeVWghrfWcVbUmc5bDuWuFNvs2OA93NUDn9v2dx5GPO1.bB0H1av6co_5WRhTiBMRf3TlVa2RTssyGj2Rv9G7-u_6tdRVPQwnwyrsLacZBKhqMqPLDVb0mfySVfroeXjz9V2YQ_pyv8CXOV28V5wqUnOSXXVpy3EYWyaQ6hlK8ue5EG-fFV27AhrCwEb3XVW4cI4.uaRxARDbINS.5UykCjefADrzpLZtKOsYEoXz6XGbJ376ChjBAMhghQMRu913yy4Ry.k32vbUB7vRr5myACpB1exBn6pWVDd9mPJw_O-tEwPMuZd3ecJGzHRo_6gqgKlIWD5vfz3Ha3vZ72ea7PdsULKfuGfghZSsLPvwO_udPYyCIiEcnEYCR42krKeOPfQiJG-WAev4JJjX9lPtluIcpzE3r77B50YrxXaRWtyPTiYXWE.L2FWxQ8lII9liFqNkKlSLP38JGzq6HDzQjADXy8BCNp6vfsVZ-wdOZYJQas_qPJyZQ_egkP6xak4QKXJCyWmTBNOfzNfB9QxGOpByzm7I-tX1O1NfOZOeEKvg8n489eG8x0QqwPw.Hqgkci2b081Zv1_-PnrhWyg.7OHC8IvyObkinZaxV01GSrLH_Ri.cN5YGYAQgod2DtqFhsRULmwtK3fBqylcthQXs8lEIPPiIo7V6mpQGl6m3GpqGXX.sNwuUrfjuPSfZ6kYwauWYoi6tIiyv6vBL3tBgUDnjjsuieE0rPYG1UMBaKi30z1CxWRjrpSsyWWBFZy941YNIOAJ3Re.nNsIgLHBNVsPdSrf8bs8cknmWMI3KdXZ48s9dVyKk.KvQcNArYsbKY9qlYwGwMZsUzULCOLItVQs2fwDpvMYXIOh5soLkwMZmBMlOCUdUFam1up2Hkjl2OGRNq91q_3PgJEp5oXKWL-V9rVbgDDYxwvqGJSvwKG0bPW0YfVZxyY5IXIDttXV7Ak2DiIq2YCGVGGlu9LG4llNF.KorZVInEmrJ_NGBmk9y2EiGQR1CJZhmV5BrCwFFcLEFn_UWLXtiHb7af-Cs3nQc3rmKpI4klbTHuzaLJpeu.N2lPvKI4OK6Q4GdjzqqoItjNmcEhY7Pb_jRWg1ZBTbmue39fEjsC5qMZFP1WWchDb4nJwddT990Iuy86jGgbiIaK-1FP_BHJukfnx4oQNzHytecqwaEEOlp88tKm2WC1UvaN5QK3XkrZ7BTm330oYuOhMKIfn0Gpytlp5BBfxPTi-Ne2HZbrRWz5UgD52EVt5BBoUO5zwn76FBVY-1xgQPpJbW-iKzguIcNt3kskC9olffh7P01L72VYGfARe5f.JW67AzLeW6Q9m8Qlh6lQnkk5DSkPH1vaEWWEvj6SAYuzm4NHmk58YwjUjuTas44NseSIen1YkRp1Fw.6NlftYaRPkxNh__1No9FXqfcShP2oN0fUwKeerIXYskmCly22yCNQLUfMRsPSdSiBYmkt0mqN7WG_Y9PxdGU.fwlIHEp_g6JJ516lXaCbVZTVM6uY2l8eF0pYf.h5BMvVikofvG8A7vHLYIfJV2boBW97C0f3jcT870mvGIvkYW83hbxa3QzYw60RTVE2OKWtorQgcpjjzeH4QydiIBb",
              "Custom_Field_Value_18": "sit et nisi amet ex",
              "Pay_Term": "aliquip quis occaecat",
              "BOOL_VERIFIED": false,
              "Customer_Code": "sit cupidatat nisi",
              "Custom_Field_Value_4": "velit eu",
              "Last_Name": "in",
              "INT_EXTEND_2": 163882457,
              "BOOL_Enable_DOB": false,
              "Ship_Remark": "exercitation fugiat ea",
              "Deliver_Street": "tempor exercitation",
              "Mobile": "cupidatat",
              "Office": "amet Ut ut enim consectetur",
              "Fax": "minim sit",
              "DOUBLE_Point_Value": -35648874,
              "Created_Location_ID": "ullamco sit voluptate",
              "IC": "",
              "Bill_Street": "in proident et nostrud",
              "MGST_Tax_Code": "in",
              "Website": "labore sint in proident",
              "Custom_Field_Value_12": "enim anim laborum",
              "STRING_EXTEND_1": "nisi dolor in Lorem",
              "GST_No": "exercitation dolor eiusmod",
              "Password": "dolor nulla exercitation",
              "Bool_Active": true,
              "BOOL_Is_Inclusive_MGST": true,
              "Bill_Zipcode": "cillum",
              "Remarks": "non proident",
              "Custom_Field_Value_7": "anim labore",
              "Custom_Field_Value_6": "qui ut in aute",
              "Company_Registration_Number": "adipisicing",
              "Deliver_Zipcode": "aliqua et dolor",
              "DOUBLE_Cash_Value": 71342339,
              "Custom_Field_Value_1": "mollit commodo do",
              "Gender": "veniam mollit aute",
              "Reference_Client_ID": "voluptate nisi ex",
              "Custom_Field_Value_10": "dolor dolor id enim",
              "DOB": "29/02/6996",
              "Alt_Phone": "ullamco quis pariatur exercitation dolore",
              "DOUBLE_Accumulate_Value": -87556195,
              "Age": "Duis cillum commodo deserunt",
              "Location_Name": "ut laboris dolore enim",
              "Alt_Name": "proident deserunt",
              "Race": "nostrud ut",
              "Company_Type": "pariatur",
              "Default_Sales_Type": "cillum",
              "Skype_Contact": "ipsum pariatur laboris laborum",
              "Salutation": "ex aliquip occaecat",
              "Location_ID": "laborum aliqua",
              "Deliver_Country": "ex velit consequat in",
              "Custom_Field_Value_17": "labore occaecat",
              "Custom_Field_Value_14": "laborum consequat exercitation",
              "STRING_EXTEND_3": "consectetur cillum",
              "ID": -28972944,
              "Phone": "et ex aute dolor",
              "Currency": "nostrud eiusmod Lorem est incididunt",
              "BOOL_Web_Registered": true,
              "Bill_Remark": "consectetur qui",
              "Bill_State": "ea nulla",
              "Bill_Country": "officia laborum",
              "PROFILE_PICTURE_URL": "sint reprehenderit dolor deserunt",
              "STRING_EXTEND_2": "irure nostrud aliqua id occaecat",
              "Expiry_Extend_Date": "12/01/7445",
              "Ref_Customer_Code": "fugiat",
              "Deliver_City": "velit nostrud adipisicing voluptate pariatur",
              "Bill_City": "dolor proident tempor veniam",
              "Custom_Field_Value_15": "dolore cupidatat id",
              "Price_Scheme": "amet dolor nostrud",
              "Custom_Field_Value_8": "nulla proident occaecat anim Duis",
              "BOOL_Approved": true,
              "INT_PLATFORM": 1117272940,
              "Customer_Account_No": "qui ut amet",
              "Custom_Field_Value_11": "esse fugiat sed pariatur",
              "API_USERNAME": "eiusmod et",
              "Income": "in velit p",
              "INT_EXTEND_1": 1499053469,
              "Customer_Group": "laborum reprehenderit Duis consequat",
              "Facebook_Contact": "commo",
              "Atlternate_Look_Up": "irure",
              "Custom_Field_Value_5": "non reprehenderit",
              "Custom_Field_Value_16": "ex eiusmod commodo",
              "Friendster_Contact": "quis Lorem nostrud culpa"
            }

    + Schema

            {
              "required": [
                "Company_Name",
                "Creation_Date"
              ],
              "type": "object",
              "properties": {
                "ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "Company_ID": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Company_Name": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Company_Registration_Number": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Company_Type": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Salutation": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "First_Name": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Last_Name": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Email": {
                  "maxLength": 255,
                  "minLength": 0,
                  "pattern": "^\\w+([-+.']\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*$",
                  "type": "string"
                },
                "Website": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Phone": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Office": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Mobile": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Alt_Name": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Alt_Contact": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Alt_Phone": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Bill_Street": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Bill_City": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Bill_State": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Bill_Zipcode": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Deliver_Street": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Deliver_City": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Deliver_State": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Deliver_Zipcode": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Additional_Info": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Fax": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Bill_Country": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Deliver_Country": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Remarks": {
                  "maxLength": 1000,
                  "minLength": 0,
                  "type": "string"
                },
                "Password": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Binarykey": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "BOOL_Web_Registered": {
                  "type": "boolean"
                },
                "BOOL_Approved": {
                  "type": "boolean"
                },
                "Bill_Remark": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Ship_Remark": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Price_Scheme": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "INT_EXTEND_1": {
                  "format": "double",
                  "maximum": 2147483647,
                  "minimum": -2147483648,
                  "type": "number"
                },
                "INT_EXTEND_2": {
                  "format": "double",
                  "maximum": 2147483647,
                  "minimum": -2147483648,
                  "type": "number"
                },
                "INT_EXTEND_3": {
                  "format": "double",
                  "maximum": 2147483647,
                  "minimum": -2147483648,
                  "type": "number"
                },
                "STRING_EXTEND_1": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "STRING_EXTEND_2": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "STRING_EXTEND_3": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_1": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_2": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_3": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_4": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_5": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_6": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_7": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_8": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_9": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_10": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_11": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_12": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_13": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_14": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_15": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_16": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_17": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Custom_Field_Value_18": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Gender": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Race": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Age": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "DOUBLE_Point_Value": {
                  "format": "double",
                  "type": "number"
                },
                "DOUBLE_Cash_Value": {
                  "format": "double",
                  "type": "number"
                },
                "DOUBLE_Accumulate_Value": {
                  "format": "double",
                  "type": "number"
                },
                "Reference_Client_ID": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Friendster_Contact": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Facebook_Contact": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Skype_Contact": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "MSN_Contact": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Creation_Date": {
                  "pattern": "^(((0[1-9]|[12]\\d|3[01])\\/(0[13578]|1[02])\\/((19|[2-9]\\d)\\d{2}))|((0[1-9]|[12]\\d|30)\\/(0[13456789]|1[012])\\/((19|[2-9]\\d)\\d{2}))|((0[1-9]|1\\d|2[0-8])\\/02\\/((19|[2-9]\\d)\\d{2}))|(29\\/02\\/((1[6-9]|[2-9]\\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$",
                  "type": "string"
                },
                "Atlternate_Look_Up": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "DOB": {
                  "pattern": "^(((0[1-9]|[12]\\d|3[01])\\/(0[13578]|1[02])\\/((19|[2-9]\\d)\\d{2}))|((0[1-9]|[12]\\d|30)\\/(0[13456789]|1[012])\\/((19|[2-9]\\d)\\d{2}))|((0[1-9]|1\\d|2[0-8])\\/02\\/((19|[2-9]\\d)\\d{2}))|(29\\/02\\/((1[6-9]|[2-9]\\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$",
                  "type": "string"
                },
                "BOOL_Enable_DOB": {
                  "type": "boolean"
                },
                "DOUBLE_Individual_Discount": {
                  "format": "double",
                  "type": "number"
                },
                "Location_ID": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Location_Name": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Default_Sales_Type": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Pay_Term": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Currency": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "DOUBLE_Max_Credit": {
                  "format": "double",
                  "type": "number"
                },
                "Ref_Customer_Code": {
                  "type": "string"
                },
                "INT_Terms": {
                  "format": "int32",
                  "maximum": 2147483647,
                  "minimum": -2147483648,
                  "type": "integer"
                },
                "Created_Location_ID": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Income": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Customer_Code": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Customer_Group": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Customer_Account_No": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "Bool_Active": {
                  "type": "boolean"
                },
                "BOOL_Allow_All_Branches": {
                  "type": "boolean"
                },
                "Expiry_Extend_Date": {
                  "maxLength": 255,
                  "minLength": 0,
                  "pattern": "^(((0[1-9]|[12]\\d|3[01])\\/(0[13578]|1[02])\\/((19|[2-9]\\d)\\d{2}))|((0[1-9]|[12]\\d|30)\\/(0[13456789]|1[012])\\/((19|[2-9]\\d)\\d{2}))|((0[1-9]|1\\d|2[0-8])\\/02\\/((19|[2-9]\\d)\\d{2}))|(29\\/02\\/((1[6-9]|[2-9]\\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$",
                  "type": "string"
                },
                "GST_No": {
                  "maxLength": 50,
                  "minLength": 0,
                  "type": "string"
                },
                "BOOL_Is_Inclusive_MGST": {
                  "type": "boolean"
                },
                "MGST_Tax_Code": {
                  "maxLength": 50,
                  "minLength": 0,
                  "type": "string"
                },
                "Created_By": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "IC": {
                  "maxLength": 25,
                  "minLength": 0,
                  "type": "string"
                },
                "BOOL_VERIFIED": {
                  "type": "boolean"
                },
                "PROFILE_PICTURE_URL": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "INT_PLATFORM": {
                  "format": "int32",
                  "maximum": 2147483647,
                  "minimum": -2147483648,
                  "type": "integer"
                },
                "API_USERNAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "API_PASSWORD": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                }
              }
            }

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

## Group Mobile Catalogues

### /logic/v1/MobileCatalogues

#### Create Mobile Catalogues [POST]

+ Parameters
+ Request
    + Headers

        Accept: application/json

    + Body
            {  
               "redemptionVoucherType":{  
                  "redemptionTypeName":"Cash voucher RM350",
                  "redemptionTypeDescription":"Cash voucher RM350",
                  "activateDate":"2017-01-01T00:00:00.000Z",
                  "expiryDate":"2999-01-01T00:00:00.000Z",
                  "isReuseable":1,
                  "redemptionCode":"RDP-RM350-CV",
                  "redemptionGroup":"RDP-RM350-CV",
                  "campagnTarget":"100000",
                  "tAndC":"This Cash Voucher is valid for use at ",
                  "isActivate":1,
                  "childLifetimeDay":365,
                  "childLastDate":"",
                  "maxRedemptionPerClient":100,
                  "maxRedemptionPerCampaign":100000,
                  "thumbnailUrl":"",
                  "thumbnailHQUrl":"",
                  "photoUrl":"",
                  "photoHQUrl":"",
                  "voucherPrefix":"RDP350CV",
                  "lengthOfVoucherNo":20,
                  "voucherMasterType":"1",
                  "redemptionTypeId":17909
               },
               "redeptionRules":[  
                  {  
                     "affiliateType":0,
                     "transactionType":"Credit",
                     "affiliateValue":50000
                  }
               ]
            }


+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

## Group Printing

### /logic/v1/printingfunctions/{category}/{docno}/{index}/{locationid} 

#### Printing detail [GET]

+ Parameters

    + category (required)
    
    + docno (required)
    
    + index (required)
    
    + locationid (required)

+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }
            
## Group Quotation

### /logic/v2/quotations/{quotationsId}

#### Get quotation [GET]

+ Parameters

    + quotationsId (required)

+ Request

    + Headers

            Accept: application/json
            DKey: (required)
            Token: (required)

    + Body


+ Response 200 (application/json)

    OK

    + Body

            {  
               "ok":true,
               "status":"SuccessQuery",
               "warning":null,
               "error":null,
               "data":{  
                  "quotation":{  
                     "id":90045,
                     "dateTime":"2017-01-18T00:00:00.000Z",
                     "grandTotal":300,
                     "paidAmount":0,
                     "balanceAmount":0,
                     "term":0,
                     "cashier":null,
                     "quotationPerson":"RealMart Admin",
                     "status":"Confirmed",
                     "outlet":"MAIN BRANCH",
                     "remarks":null,
                     "discountPercentage":0,
                     "taxPercentage":0,
                     "cost":0,
                     "profit":110,
                     "roundingAmount":0,
                     "netAmount":0,
                     "settlementDate":null,
                     "isInternalSales":false,
                     "internalLocation":null,
                     "frReceivedID":null,
                     "type":"Retail",
                     "purchaseOrderID":null,
                     "confirmLocation":"MAIN BRANCH",
                     "siteID":null,
                     "expiryDate":null,
                     "gstTaxAmount":0,
                     "exchangeRate":0,
                     "foreignAmount":0,
                     "currencyCode":null,
                     "client":{  
                        "recipientContact":"",
                        "recipientName":"wk test\n\n\nzxczxc\n\n\n",
                        "id":90045,
                        "name":"wk test\n\n\nzxczxc\n\n\n",
                        "billingAddress":{  
                           "street":"",
                           "city":"",
                           "state":"",
                           "zipcode":"",
                           "country":""
                        },
                        "shippingAddress":{  
                           "street":"",
                           "city":"",
                           "state":"",
                           "zipcode":"",
                           "country":""
                        },
                        "billingRemark":"",
                        "shippingRemark":"haha",
                        "shippingDateTime":null
                     },
                     "cancellationInfo":{  
                        "cancelBy":null,
                        "cancelRemark":null,
                        "cancelDateTime":null,
                        "cancelLocation":null
                     },
                     "items":[  
                        {  
                           "id":90060,
                           "itemId":236016,
                           "itemName":"1015",
                           "itemType":"",
                           "model":"",
                           "description":"",
                           "unitPrice":100,
                           "vendorCode":null,
                           "quantity":2,
                           "profit":100,
                           "cost":0,
                           "discountPercentage":0,
                           "discountAmount":0,
                           "instoreLocation":"default",
                           "brand":"",
                           "date":"2017-01-18T00:00:00.000Z",
                           "location":"MAIN BRANCH",
                           "itemCode":"1015",
                           "priceSchemes":{  
                              "manufacturerPrice":60,
                              "salePrice":120,
                              "employeePrice":30,
                              "wholesalePrice":40,
                              "customPrice":0,
                              "webPrice":70,
                              "webDealerPrice":80,
                              "cost":0
                           },
                           "gstPercentage":0,
                           "gstAmount":0,
                           "stockType":"normal",
                           "uniqueID":null,
                           "commissionOne":0,
                           "commissionRateOne":0,
                           "commissionTwo":0,
                           "commissionRateTwo":0,
                           "commissionThree":0,
                           "commissionRateThree":0,
                           "commissionFour":0,
                           "commissionRateFour":0,
                           "itemCategory":"Category1",
                           "itemRemark":null,
                           "packageCode":null,
                           "pcid":null,
                           "itemIndex":"1",
                           "matrixID":"",
                           "matrixBarcode":null,
                           "matrixXValue":null,
                           "matrixYValue":null,
                           "quotationPerson":"RealMart Admin",
                           "alternateLookup":"",
                           "uom":null,
                           "scanCode":"1015",
                           "itemStatus":"CONFIRMED",
                           "multiLevelDiscount":null,
                           "taxCode":"SR",
                           "gstTaxPercentage":6,
                           "gstTaxAmount":0,
                           "gstInclusive":false,
                           "enterPrice":100,
                           "foreignUnitPrice":0,
                           "foreignSubtotal":0,
[...]
