FORMAT: 1A
HOST: https://api.xilnex.com/

# Core Data API V1
## Scope and Concepts
Web bytes provides a complete API accessible via HTTPS. This API is the best 
way to intergrate website, e-commerce, server, mobile written in any programming 
language such as JavaScript, Ruby, Swift, Object-C. C#, Java, php, etc.

## Setup for REST API
For using this API you need send authenticated HTTP requests as access token which can be generated in https://developer.xilnex.com/ by userperadmin log in.

### Access Token
* Send a HTTPS header with include `Auth: 5` and `Token: {api_token}` and `AppId: {AppId}`
, where `Auth` is Auth version, `{api_token}` is your API token and `{AppId}` is your application id
![name](http://wbgeneric.blob.core.windows.net/resources/Auth5.png)


Contact us at **api@webbytes.com.my**

## Basic Usage
### HTTPS
* All endpoints are available over HTTPS only.

### Allowed HTTPs requests:
* `POST` - To create resource
* `PUT` - To update resource
* `GET` - Get a resource or list of resources
* `DELETE` - To delete resource

### Description Of Usual Server Responses:
* 200 `ok` - the request was successful
    * `ok` 
        * `true` mean success to process 
    * `status` - status of process
        * `SuccessQuery`
        * `SuccessInsert`
        * `SuccessDelete`
        * `SuccessUpdate`
    * `warning`
        * null
    * `error`
        * null
    * `data` - Json data response from Api
        * Object
    * `timestamp`
* 400 `Bad Request` - the request could not be understood or was missing required parameters.
    * `ok` 
        * `false` mean failed to process
    * `status` - status of process
    * `warning` - warning message return from server
    * `timestamp`
* 401 `Unauthorized` - authentication failed or user doesn't have 
permissions for requested operation.
* 500 `Internal server error` - server error

### Attributes
* Date: The standard is called ISO-8601 and the format is: `YYYY-MM-DDTHH:mm:ss.sssZ`
    * Example: `2017-08-08T08:40:51.000Z`.

### Basic Demo Project
`C#` - https://github.com/xilnexapi/CSharpDemo

`PHP` - https://github.com/xilnexapi/PhpDemo

`GO` - https://github.com/tylerlim/CallXilnexRestApi

##Group Access Control
### Access Control Collection [/logic/v1/accesscontrol/{access_group}/{user_group}]

### List access control by user group [GET]

Retrive access control by access group and user group

+ Parameters

    + access_group (required, String) ...  Administration, Client, Custom, Item, Listing,
    Menu_Tab, Purchasing, Receive, Report_Printing, Sales, Vendor, Report
    
    + user_group (required, String) ... User group

+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

### /logic/v1/accesscontrol/accesscontrols

####  Get access control [GET]

Retrive access control by access group or user group or user name or access Area
+ Parameters

    + accessGroup - -  Administration, Client, Custom, Item, Listing,
    Menu_Tab, Purchasing, Receive, Report_Printing, Sales, Vendor, Report
    
    + userGroup
    
    + userName
    
    + accessArea

+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

### /logic/v1/accesscontrol/save

#### Save or update the user group permission [POST]


+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            [
              {
                "Access_Controls": [
                  {
                    "check": false,
                    "SaveValue": "non fugiat minim",
                    "Display": "velit sunt deserunt aliqua ea"
                  },
                  {
                    "SaveValue": "aliquip velit",
                    "check": false,
                    "Display": "aliqua non ut amet"
                  },
                  {
                    "Display": "Excepteur deserunt cillum",
                    "check": false
                  },
                  {
                    "check": false,
                    "SaveValue": "i",
                    "Display": "minim pariatur a"
                  }

                ],
                "UserGroup": "ea minim"
              },
              {
                "Access_Controls": [
                  {}
                ]
              }
            ]

    + Schema

            {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "UserGroup": {
                    "type": "string"
                  },
                  "Access_Controls": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Display": {
                          "type": "string"
                        },
                        "SaveValue": {
                          "type": "string"
                        },
                        "check": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }
            
## Group Attendance
### /logic/v2/attendance/clockin
#### Clock in attendance [POST]
Clock in attendance WithPassword or WithBiometric
+ Request
     + Headers
        token: {token}
        dkey: {dkey}
        Content-Type: application/json
        
     + Body
    {  
  "attendance":{  
    "username":"realmart@xilnex.com",
    "password":"",
    "userEmail":null,
    "remarks":"",
    "outlet":"MAIN BRANCH",
    "clockType":"WithPassword",
    "attendanceType":null
  }
}

+ Response 200 (application/json)
{
    "ok": true,
    "status": "SuccessQuery",
    "warning": null,
    "error": null,
    "data": {
        "attendance": {
            "id": 90010,
            "username": "realmart@xilnex.com",
            "userEmail": null,
            "action": "Clock In",
            "remarks": "",
            "outlet": "MAIN BRANCH",
            "category": "Clock In",
            "clockType": "WithPassword",
            "attendanceType": null,
            "dateTime": "2018-11-21T10:59:08.000Z"
        }
    }
}

### /logic/v2/attendance/clockout
#### Clock out attendance [POST]
Clock out attendance WithPassword or WithBiometric
+ Request
     + Headers
        token: {token}
        dkey: {dkey}
        Content-Type: application/json
        
     + Body
    {  
  "attendance":{  
    "username":"realmart@xilnex.com",
    "password":"",
    "userEmail":null,
    "remarks":"",
    "outlet":"MAIN BRANCH",
    "clockType":"WithPassword",
    "attendanceType":null
  }
}

+ Response 200 (application/json)
{
    "ok": true,
    "status": "SuccessQuery",
    "warning": null,
    "error": null,
    "data": {
        "attendance": {
            "id": 90011,
            "username": "realmart@xilnex.com",
            "userEmail": null,
            "action": "Clock Out",
            "remarks": "",
            "outlet": "MAIN BRANCH",
            "category": "Clock Out",
            "clockType": "WithPassword",
            "attendanceType": null,
            "dateTime": "2018-11-21T16:28:31.000Z"
        }
    }
}

## Group Cells
### /logic/v2/cells/{id}
#### Retrieve cell information by id [GET]
+ Parameters
    + id: Cell Id

+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        
+ Response 200 (application/json)
{  
  "ok":true,
  "status":"SuccessQuery",
  "warning":null,
  "error":null,
  "data":{  
    "cells":null,
    "cell":{  
      "id":90022,
      "outlet":{  
        "id":"1",
        "name":"MAIN BRANCH"
      },
      "ownerInfo":"sample",
      "unit":"A-3-5",
      "l1":"1",
      "l2":"2",
      "l3":"3",
      "dimension":{  
        "length":1,
        "height":1,
        "width":1
      },
      "contents":[  
        {  
          "itemId":1034,
          "itemName":"ABC 123",
          "itemCode":"FD001",
          "itemType":"Type02",
          "stockType":"Normal",
          "serialInfo":[  

          ],
          "batchInfo":[  

          ],
          "batchControl":false,
          "quantity":1,
          "cellId":90022
        },
        {  
          "itemId":5051,
          "itemName":"21022017U",
          "itemCode":"21022017U",
          "itemType":"1",
          "stockType":"Serial",
          "serialInfo":[  
            {  
              "itemId":5051,
              "serialNo":"u8907479"
            }
          ],
          "batchInfo":[  

          ],
          "batchControl":false,
          "quantity":1,
          "cellId":90022
        },
        {  
          "itemId":1201370,
          "itemName":"BNC test",
          "itemCode":"BNC test",
          "itemType":"Type02",
          "stockType":"Normal",
          "serialInfo":[  

          ],
          "batchInfo":[  
            {  
              "itemId":1201370,
              "batchQuantity":1,
              "batchNo":"abc001"
            }
          ],
          "batchControl":true,
          "quantity":1,
          "cellId":90022
        }
      ]
    }
  },
  "timestamp":1538101378,
  "nextRecordsUrl":null,
  "totalSize":0
}

### /logic/v2/cells?outlet={outlet}&unit={unitno}&itemId={itemId}
#### retrieve cell by parmas [GET]
+ Parameters
    + outlet: Outlet name
    + unit: Unit number or shelf number
    + item id : Item Id

+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        
+ Response 200 (application/json)
{  
  "ok":true,
  "status":"SuccessQuery",
  "warning":null,
  "error":null,
  "data":{  
    "cells":null,
    "cell":{  
      "id":90017,
      "outlet":{  
        "id":"1",
        "name":"MAIN BRANCH"
      },
      "ownerInfo":"sample",
      "unit":"A-2-8",
      "l1":"1",
      "l2":"2",
      "l3":"3",
      "dimension":null,
      "contents":[  
        {  
          "itemId":1034,
          "itemName":"ABC 123",
          "itemCode":"FD001",
          "itemType":"Type02",
          "stockType":"Normal",
          "serialInfo":[  

          ],
          "batchInfo":[  

          ],
          "batchControl":false,
          "quantity":1,
          "cellId":90017
        }
      ]
    }
  },
  "timestamp":1538102077,
  "nextRecordsUrl":null,
  "totalSize":0
}

### /logic/v2/cells/transfer
#### Perform cell transfer [POST]
+ Request
     + Headers
        token: {token}
        dkey: {dkey}
        Content-Type: application/json
        
     + Body
     {  
  "fromCellId":90050,
  "toCellId":90051,
  "contents":[  
    {  
      "itemId":5053,
      "quantity":1
    },
    {  
      "itemId":37906,
      "quantity":1,
      "serialInfo":[  
        {  
          "serialNo":"00 SERIAL 01"
        }
      ]
    },
    {  
      "itemId":38601006,
      "quantity":1,
      "batchInfo":[  
        {  
          "batchNo":"testing0101abcb1",
          "batchQuantity":1
        }
      ]
    }
  ]
}

+ Response 200 (application/json)
{  
  "ok":true,
  "status":"SuccessQuery",
  "warning":null,
  "error":null,
  "data":{  
    "cells":[  
      {  
        "id":90050,
        "outlet":{  
          "id":"1",
          "name":"MAIN BRANCH"
        },
        "ownerInfo":"sample",
        "unit":"A-2-3",
        "l1":"1",
        "l2":"2",
        "l3":"3",
        "dimension":{  
          "length":1,
          "height":1,
          "width":1
        },
        "contents":[  
          {  
            "itemId":5050,
            "itemName":"210220171",
            "itemCode":"210220171",
            "itemType":"1",
            "stockType":"Normal",
            "serialInfo":[  

            ],
            "batchInfo":[  

            ],
            "batchControl":false,
            "quantity":5,
            "cellId":90050
          },
          {  
            "itemId":394033,
            "itemName":"123456789011",
            "itemCode":"123456789011",
            "itemType":"Type02",
            "stockType":"Normal",
            "serialInfo":[  

            ],
            "batchInfo":[  
              {  
                "itemId":394033,
                "batchQuantity":10,
                "batchNo":"12345678"
              }
            ],
            "batchControl":true,
            "quantity":10,
            "cellId":90050
          },
          {  
            "itemId":5053,
            "itemName":"b21022017",
            "itemCode":"b21022017",
            "itemType":"1",
            "stockType":"Normal",
            "serialInfo":[  

            ],
            "batchInfo":[  

            ],
            "batchControl":false,
            "quantity":3,
            "cellId":90050
          },
          {  
            "itemId":37906,
            "itemName":"ITEM SERIALIZED 01",
            "itemCode":"ITS01",
            "itemType":"00 ITEM TYPE 1",
            "stockType":"Serial",
            "serialInfo":[  
              {  
                "itemId":37906,
                "serialNo":"00 SERIAL 02"
              }
            ],
            "batchInfo":[  

            ],
            "batchControl":false,
            "quantity":1,
            "cellId":90050
          },
          {  
            "itemId":38601006,
            "itemName":"testing0101abc",
            "itemCode":"testing0101abc",
            "itemType":"Type02",
            "stockType":"Normal",
            "serialInfo":[  

            ],
            "batchInfo":[  
              {  
                "itemId":38601006,
                "batchQuantity":1,
                "batchNo":"testing0101abcb1"
              },
              {  
                "itemId":38601006,
                "batchQuantity":2,
                "batchNo":"testing0101abcb2"
              }
            ],
            "batchControl":true,
            "quantity":3,
            "cellId":90050
          },
          {  
            "itemId":5061,
            "itemName":"10042017",
            "itemCode":"10042017",
            "itemType":"1",
            "stockType":"Normal",
            "serialInfo":[  

            ],
            "batchInfo":[  

            ],
            "batchControl":false,
            "quantity":1,
            "cellId":90050
          },
          {  
            "itemId":38601125,
            "itemName":"testingbatch00002",
            "itemCode":"testingbatch00002",
             "itemType":"Type02",
            "stockType":"Normal",
            "serialInfo":[  

            ],
            "batchInfo":[  
              {  
                "itemId":38601125,
                "batchQuantity":-7,
                "batchNo":"testingbatch00002-B1"
              }
            ],
            "batchControl":true,
            "quantity":-7,
            "cellId":90050
          }
        ]
      },
      {  
        "id":90051,
        "outlet":{  
          "id":"1",
          "name":"MAIN BRANCH"
        },
        "ownerInfo":"sample",
        "unit":"A-2-4",
        "l1":"1",
        "l2":"2",
        "l3":"3",
        "dimension":{  
          "length":1,
          "height":1,
          "width":1
        },
        "contents":[  
          {  
            "itemId":5053,
            "itemName":"b21022017",
            "itemCode":"b21022017",
            "itemType":"1",
            "stockType":"Normal",
            "serialInfo":[  

            ],
            "batchInfo":[  

            ],
            "isBatchControl":false,
            "quantity":2,
            "cellId":90051
          },
          {  
            "itemId":37906,
            "itemName":"ITEM SERIALIZED 01",
            "itemCode":"ITS01",
            "itemType":"00 ITEM TYPE 1",
            "stockType":"Serial",
            "serialInfo":[  
              {  
                "itemId":37906,
                "serialNo":"00 SERIAL 3"
              },
              {  
                "itemId":37906,
                "serialNo":"00 SERIAL 4"
              },
              {  
                "itemId":37906,
                "serialNo":"00 SERIAL 01"
              }
            ],
            "batchInfo":[  

            ],
            "batchControl":false,
            "quantity":3,
            "cellId":90051
          },
          {  
            "itemId":38601006,
            "itemName":"testing0101abc",
            "itemCode":"testing0101abc",
            "itemType":"Type02",
            "stockType":"Normal",
            "serialInfo":[  

            ],
            "batchInfo":[  
              {  
                "itemId":38601006,
                "batchQuantity":9,
                "batchNo":"testing0101abcb1"
              },
              {  
                "itemId":38601006,
                "batchQuantity":0,
                "batchNo":"testing0101abcb2"
              },
              {  
                "itemId":38601006,
                "batchQuantity":3,
                "batchNo":"testing0101abcbb1"
              }
            ],
            "batchControl":true,
            "quantity":12,
            "cellId":90051
          },
          {  
            "itemId":5061,
            "itemName":"10042017",
            "itemCode":"10042017",
            "itemType":"1",
            "stockType":"Normal",
            "serialInfo":[  

            ],
            "batchInfo":[  

            ],
            "batchControl":false,
            "quantity":-1,
            "cellId":90051
          },
          {  
            "itemId":36902,
            "itemName":"S27112017",
            "itemCode":"S27112017",
            "itemType":"Type02",
            "stockType":"Serial",
            "serialInfo":[  
              {  
                "itemId":36902,
                "serialNo":"1u2eiu348723g532"
              }
            ],
            "batchInfo":[  

            ],
            "batchControl":false,
            "quantity":1,
            "cellId":90051
          },
          {  
            "itemId":38601125,
            "itemName":"testingbatch00002",
            "itemCode":"testingbatch00002",
            "itemType":"Type02",
            "stockType":"Normal",
            "serialInfo":[  

            ],
            "batchInfo":[  
              {  
                "itemId":38601125,
                "batchQuantity":7,
                "batchNo":"testingbatch00002-B1"
              }
            ],
            "batchControl":true,
            "quantity":7,
            "cellId":90051
          }
        ]
      }
    ],
    "cell":null
  },
  "timestamp":1538533908,
  "nextRecordsUrl":null,
  "totalSize":0
}

### /logic/v2/cells
#### create cell [POST]
+ Request
     + Headers
        token: {token}
        dkey: {dkey}
        Content-Type: application/json
        
     + Body
     {
     "cell":
     {  
  "outlet":{  
    "name":"MAIN BRANCH"
  },
  "ownerInfo":"sample",
  "unit":"A-2-5",
  "l1":"1",
  "l2":"2",
  "l3":"3",
  "dimension":{  
    "width":1.0,
    "height":1.0,
    "length":1.0
  }
}
}

+ Response 200 (application/json)
{  
  "ok":true,
  "status":"SuccessQuery",
  "warning":null,
  "error":null,
  "data":{  
    "cells":null,
    "cell":{  
      "id":90056,
      "outlet":{  
        "id":"1",
        "name":"MAIN BRANCH"
      },
      "ownerInfo":"sample",
      "unit":"A-2-5",
      "l1":"1",
      "l2":"2",
      "l3":"3",
      "dimension":{  
        "length":1,
        "height":1,
        "width":1
      },
      "contents":[  

      ]
    }
  },
  "timestamp":1538538039,
  "nextRecordsUrl":null,
  "totalSize":0
}

### /logic/v2/cells/{id}
#### update cell [PUT]
+ Parameters
    + id: Cell Id

+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    {
    "cell":
     {  
  "ownerInfo":"sample3",
  "unit":"A-2-5",
  "l1":"11",
  "l2":"22",
  "l3":"33",
  "dimension":{  
    "width":2.0,
    "height":2.0,
    "length":2.0
  }
}
}

+ Response 200 (application/json)
{  
  "ok":true,
  "status":"SuccessQuery",
  "warning":null,
  "error":null,
  "data":{  
    "cells":null,
    "cell":{  
      "id":90056,
      "outlet":{  
        "id":"1",
        "name":"MAIN BRANCH"
      },
      "ownerInfo":"sample3",
      "unit":"A-2-5",
      "l1":"11",
      "l2":"22",
      "l3":"33",
      "dimension":{  
        "length":2,
        "height":2,
        "width":2
      },
      "contents":[  

      ]
    }
  },
  "timestamp":1538538377,
  "nextRecordsUrl":null,
  "totalSize":0
}

### /logic/v2/cells/{id}
#### delete cell [DELETE]
+ Parameters
    + id: Cell Id

+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
+ Response 200 (application/json) 
{
    "ok": true,
    "status": "SuccessDelete",
    "warning": null,
    "error": null,
    "data": null,
    "timestamp": 1540176451
}

## Group Clients

### /logic/v2/clients/buddy
#### add buddy [POST]
The standard Post sales fields are these:

+ Request
    + Headers
    + Body
            {
                "client":{
                    "id":9000000
                },
                "buddy":{
                    "id":9000001
                }
            }
            
+ Response 200 (application/json)

        {  
           "ok":true,
           "status":"SuccessPost",
           "warning":null,
           "error":null,
           "data":null,
           "timestamp":1504759973
        }

### /logic/v2/clients/pointadjust
#### Adjust customer point [PUT]
+ Parameters
    + pointadjustment: 5

+ Request
    + Headers
            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
            {  
               "clientPoint":{  
                  "clientId":5042,
                  "pointAdjustment":5
               }
            }

+ Response 200 (application/json)

        {  
           "ok":true,
           "status":"SuccessUpdate",
           "warning":null,
           "error":null,
           "data":null,
           "timestamp":1504759973
        }
        
### /logic/v2/clients/query?code={client_code}
#### Retrieve clients information [GET]
Use to retrive single result, the code must be exactly same
search: alternate lookup-> company name-> mobile-> customer code-> ic-> email

+ Parameters
    + client_code: Client code, mobile, identity card, client name 
    
+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
+ Response 200 (application/json)

        {
          "ok": true,
          "status": "SuccessQuery",
          "warning": null,
          "error": null,
          "data": {
            "client": null,
            "clients": [
              {
                "id": 5042,
                "alternateLookup": "",
                "priceScheme": "0",
                "terms": 0,
                "creditLimit": 0,
                "billingAddress": "",
                "shippingAddress": "",
                "billing": {
                  "street": "",
                  "city": "",
                  "state": "",
                  "zipcode": "",
                  "country": ""
                },
                "shipping": {
                  "street": "",
                  "city": "",
                  "state": "",
                  "zipcode": "",
                  "country": ""
                },
                "name": "Cindy E. Bilodeau",
                "code": "12052016",
                "title": "",
                "email": "",
                "type": "",
                "group": "",
                "registrationCode": "",
                "gender": "female",
                "dob": "",
                "ic": "",
                "nationality": null,
                "createdBy": "realmart@xilnex.com",
                "mobile": null,
                "office": null,
                "fax": null,
                "phone": null,
                "alternateContact": null,
                "alternatePhone": null,
                "category": null,
                "firstName": null,
                "lastName": null,
                "expiryDate": "0001-01-01T00:00:00.000Z",
                "pointValue": 128,
                "image":"",
                "active":false,
                "xilnexConnectOutlet": null,
                "paymentTerms": 0,
                "paymentTermsRemark": null,
                "gstNo": null,
                "currencyCode": null,
                "gstNumber": null,
                "taxCode": null,
                "createDate": null,
                "enableDOB": false,
                "updateTimeStamp": "0x00000000B42AD5FD",
                "individualDiscount": 0,
                "listBranchClients": [],
                "customFieldValue1": null,
                "customFieldValue2": null,
                "customFieldValue3": null,
                "customFieldValue4": null,
                "customFieldValue5": null,
                "customFieldValue6": null,
                "customFieldValue7": null,
                "customFieldValue8": null,
                "customFieldValue9": null,
                "customFieldValue10": null,
                "customFieldValue11": null,
                "customFieldValue12": null,
                "customFieldValue13": null,
                "customFieldValue14": null,
                "customFieldValue15": null,
                "verified": false
              }
            ]
          },
          "timestamp": 1487901986
        }
        
### /logic/v2/clients/search?code={client_code}
#### Retrieve clients information [GET]
Use to retrive single result, the code must be exactly same
search: alternate lookup-> company name-> mobile-> customer code-> ic-> email

+ Parameters
    + client_code: Client code, mobile, identity card, company name 
    
+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
+ Response 200 (application/json)

        {
            "ok": true,
            "status": "SuccessQuery",
            "warning": null,
            "error": null,
            "data": {
            "client": null,
            "clients": [
              {
                "id": 32706,
                "alternateLookup": "",
                "priceScheme": "0",
                "terms": 0,
                "creditLimit": 0,
                "billingAddress": "",
                "shippingAddress": "",
                "billing": {
                  "street": "",
                  "city": "",
                  "state": "",
                  "zipcode": "",
                  "country": ""
                },
                "shipping": {
                  "street": "",
                  "city": "",
                  "state": "",
                  "zipcode": "",
                  "country": ""
                },
                "name": "freeyew",
                "code": "aaa",
                "title": "",
                "email": "",
                "type": "staff",
                "group": "",
                "registrationCode": "",
                "gender": "female",
                "dob": "2016-02-01T00:00:00.000Z",
                "ic": "",
                "nationality": null,
                "createdBy": "realmart@xilnex.com",
                "mobile": null,
                "office": null,
                "fax": null,
                "phone": null,
                "alternateContact": null,
                "alternatePhone": null,
                "category": null,
                "firstName": null,
                "lastName": null,
                "expiryDate":"0001-01-01T00:00:00.000Z",
                "pointValue":0,
                "image":"",
                "active":false,
                "xilnexConnectOutlet": null,
                "paymentTerms": 0,
                "paymentTermsRemark": null,
                "gstNo": null,
                "currencyCode": null,
                "gstNumber": null,
                "taxCode": null,
                "createDate": null,
                "enableDOB": false,
                "updateTimeStamp": "0x00000000B42AD5FD",
                "individualDiscount": 0,
                "listBranchClients": [],
                "customFieldValue1": null,
                "customFieldValue2": null,
                "customFieldValue3": null,
                "customFieldValue4": null,
                "customFieldValue5": null,
                "customFieldValue6": null,
                "customFieldValue7": null,
                "customFieldValue8": null,
                "customFieldValue9": null,
                "customFieldValue10": null,
                "customFieldValue11": null,
                "customFieldValue12": null,
                "customFieldValue13": null,
                "customFieldValue14": null,
                "customFieldValue15": null,
                "verified": false
              }
            ]
          },
          "timestamp": 1487901505
        }

### /logic/v2/clients/{id}
#### Retrieve client information [GET]

+ Parameters
    + id (required, Number) ... Client id
    
+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        
+ Response 200 (application/json)

        {
          "ok": true,
          "status": "SuccessQuery",
          "warning": null,
          "error": null,
          "data": {
            "client": {
              "id": 32706,
              "alternateLookup": "",
              "priceScheme": "0",
              "terms": 0,
              "creditLimit": 0,
              "billingAddress": "",
              "shippingAddress": "",
              "billing": {
                "street": "",
                "city": "",
                "state": "",
                "zipcode": "",
                "country": ""
              },
              "shipping": {
                "street": "",
                "city": "",
                "state": "",
                "zipcode": "",
                "country": ""
              },
              "name": "freeyew",
              "code": "aaa",
              "title": "",
              "email": "",
              "type": "staff",
              "group": "",
              "registrationCode": "",
              "gender": "female",
              "dob": "2016-02-01T00:00:00.000Z",
              "ic": "",
              "nationality": null,
              "createdBy": "xxx@xilnex.com",
              "mobile": null,
              "office": null,
              "fax": null,
              "phone": null,
              "alternateContact": null,
              "alternatePhone": null,
              "category": null,
              "firstName": null,
              "lastName": null,
              "expiryDate":"0001-01-01T00:00:00.000Z",
              "pointValue":0,
              "image":"",
                "active":false,
                "xilnexConnectOutlet": null,
                "paymentTerms": 0,
                "paymentTermsRemark": null,
                "gstNo": null,
                "currencyCode": null,
                "gstNumber": null,
                "taxCode": null,
                "createDate": null,
                "enableDOB": false,
                "updateTimeStamp": "0x00000000B42AD5FD",
                "individualDiscount": 0,
                "listBranchClients": [],
                "customFieldValue1": null,
                "customFieldValue2": null,
                "customFieldValue3": null,
                "customFieldValue4": null,
                "customFieldValue5": null,
                "customFieldValue6": null,
                "customFieldValue7": null,
                "customFieldValue8": null,
                "customFieldValue9": null,
                "customFieldValue10": null,
                "customFieldValue11": null,
                "customFieldValue12": null,
                "customFieldValue13": null,
                "customFieldValue14": null,
                "customFieldValue15": null,
                "verified": false
            },
            "clients": null
          },
          "timestamp": 1487901676
        }


### /logic/v2/clients/{id}/sales
#### GET
+ Retrieve client purchase history

+ Parameters
    + id(optional, number) ... Client id
    
+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        
+ Response 200 (application/json)

        {  
            "ok":true,
            "status":"SuccessQuery",
            "warning":null,
            "error":null,
            "data":{  
              "purchaseHistories":[  
                 {  
                    "outlet":"PENANG BRANCH",
                    "sales":[  
                       {  
                          "salesId":327056,
                          "amount":0,
                          "paidAmount":0,
                          "balanceAmount":0,
                          "salesDate":"2017-02-01T00:00:00.000Z"
                       }
                    ]
                 }
              ]
            },
            "timestamp":1487902292
        }

### /logic/v2/clients/{id}/vouchers
#### GET
+ Retrieve client available vouchers

+ Parameters
    + Client id
    
+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        
+ Response 200 (application/json)

        {
            "ok": true,
            "status": "SuccessQuery",
            "warning": null,
            "error": null,
            "data": {
                "redemption": null,
                "voucher": null,
                "vouchers": [
                    {
                        "redemptionOutlet": "",
                        "clientId": "101",
                        "voucherNumber": "0000001",
                        "salesId": null,
                        "paymentId": null,
                        "paymentAmount": 0,
                        "promotionType": "voucher",
                        "issueBy": "RealMart Admin",
                        "voucherDate": "2018-07-06T00:00:00.000Z",
                        "generationSalesId": "0",
                        "isRedeemed": null,
                        "groupName": "jihin20%",
                        "isActivation": true,
                        "voucherDescription": null,
                        "outlet": "MAIN BRANCH",
                        "expiryDate": "2999-12-31T00:00:00.000Z",
                        "performType": null,
                        "performRemark": null,
                        "performDate": null,
                        "effectiveDate": null,
                        "isApiVoucher": false,
                        "cardNumber": null,
                        "voucherMasterId": 0
                    },
                    {
                        "redemptionOutlet": "",
                        "clientId": "101",
                        "voucherNumber": "0000002",
                        "salesId": null,
                        "paymentId": null,
                        "paymentAmount": 0,
                        "promotionType": "voucher",
                        "issueBy": "RealMart Admin",
                        "voucherDate": "2018-07-06T00:00:00.000Z",
                        "generationSalesId": "0",
                        "isRedeemed": null,
                        "groupName": "jihin20%",
                        "isActivation": true,
                        "voucherDescription": null,
                        "outlet": "MAIN BRANCH",
                        "expiryDate": "2999-12-31T00:00:00.000Z",
                        "performType": null,
                        "performRemark": null,
                        "performDate": null,
                        "effectiveDate": null,
                        "isApiVoucher": false,
                        "cardNumber": null,
                        "voucherMasterId": 0
                    }
                ]
            },
            "timestamp": 1532066231
        }

### /logic/v2/clients/query?type={type}&topcount={topcount}&offset={offset}
#### Query clients by type [GET]
+ Request
    + Headers
            Accept: application/json
            Header: {header}
            Token: {token}

+ Response 200 (application/json)

       {
            "ok": true,
            "status": "SuccessQuery",
            "warning": null,
            "error": null,
            "data": {
                "lastTimestamp": null,
                "client": null,
                "clients": [
                    {
                        "currency": null,
                        "id": 5044,
                        "name": "active members 02",
                        "alternateLookup": "5044",
                        "priceScheme": "0",
                        "creditLimit": 300,
                        "billingAddress": "",
                        "shippingAddress": "",
                        "shipping": {
                            "street": "",
                            "city": "",
                            "state": "",
                            "zipcode": "",
                            "country": ""
                        },
                        "billing": {
                            "street": "",
                            "city": "",
                            "state": "",
                            "zipcode": "",
                            "country": ""
                        },
                        "code": "5044",
                        "title": "",
                        "email": "",
                        "type": "testgsm",
                        "group": "",
                        "registrationCode": "",
                        "gender": "female",
                        "dob": "2017-05-04T00:00:00.000Z",
                        "ic": "",
                        "nationality": null,
                        "createdBy": "realmart@xilnex.com",
                        "firstName": "",
                        "lastName": "",
                        "phone": "",
                        "office": "",
                        "mobile": "",
                        "accountNumber": "",
                        "alternateName": "",
                        "alternateContact": "",
                        "alternatePhone": "",
                        "additionalInfo": "",
                        "fax": "",
                        "remarks": "",
                        "billingRemarks": null,
                        "shippingRemarks": null,
                        "race": "",
                        "category": "Personal",
                        "active": true,
                        "allowAllOutlets": true,
                        "gstInclusive": true,
                        "pointValue": 650.7084,
                        "defaultSalesType": "",
                        "expiryDate": "2018-10-30T00:00:00.000Z",
                        "createdOutlet": "Coded UI Branch 2",
                        "pointFactor": 1,
                        "dedicatedSalesPerson": "Test John Project",
                        "image": "",
                        "xilnexConnectOutlet": "Coded UI Branch 2",
                        "paymentTerms": 0,
                        "paymentTermsRemark": "",
                        "gstNo": null,
                        "currencyCode": "",
                        "gstNumber": "",
                        "taxCode": "",
                        "createDate": "2016-12-06T00:00:00.000Z",
                        "enableDOB": true,
                        "updateTimeStamp": "0x00000000721EA50B",
                        "listBranchClients": [],
                        "customFieldValue1": "",
                        "customFieldValue2": "",
                        "customFieldValue3": "",
                        "customFieldValue4": "",
                        "customFieldValue5": "",
                        "customFieldValue6": "",
                        "customFieldValue7": "",
                        "customFieldValue8": "",
                        "customFieldValue9": "",
                        "customFieldValue10": "",
                        "customFieldValue11": "",
                        "customFieldValue12": "",
                        "customFieldValue13": "",
                        "customFieldValue14": "",
                        "customFieldValue15": "",
                        "verified": false
                    },
                    {
                        "currency": null,
                        "id": 5054,
                        "name": "04052016",
                        "alternateLookup": "04052016",
                        "priceScheme": "1",
                        "creditLimit": 0,
                        "billingAddress": "",
                        "shippingAddress": "",
                        "shipping": {
                            "street": "",
                            "city": "",
                            "state": "",
                            "zipcode": "",
                            "country": ""
                        },
                        "billing": {
                            "street": "",
                            "city": "",
                            "state": "",
                            "zipcode": "",
                            "country": ""
                        },
                        "code": "",
                        "title": "",
                        "email": "",
                        "type": "testgsm",
                        "group": "",
                        "registrationCode": "",
                        "gender": "female",
                        "dob": "2016-05-04T00:00:00.000Z",
                        "ic": "04052016",
                        "nationality": "",
                        "createdBy": "",
                        "firstName": "",
                        "lastName": "",
                        "phone": "",
                        "office": "",
                        "mobile": "",
                        "accountNumber": "",
                        "alternateName": "",
                        "alternateContact": "",
                        "alternatePhone": "",
                        "additionalInfo": "",
                        "fax": "",
                        "remarks": "",
                        "billingRemarks": "",
                        "shippingRemarks": "",
                        "race": "",
                        "category": "Personal",
                        "active": true,
                        "allowAllOutlets": true,
                        "gstInclusive": true,
                        "pointValue": 33,
                        "defaultSalesType": "0",
                        "expiryDate": "2017-12-21T00:00:00.000Z",
                        "createdOutlet": "Coded UI Branch 2",
                        "pointFactor": 1,
                        "dedicatedSalesPerson": "",
                        "image": "",
                        "xilnexConnectOutlet": "",
                        "paymentTerms": 0,
                        "paymentTermsRemark": "",
                        "gstNo": null,
                        "currencyCode": "",
                        "gstNumber": "",
                        "taxCode": "",
                        "createDate": "2017-05-04T00:00:00.000Z",
                        "enableDOB": true,
                        "updateTimeStamp": "0x0000000071F6EEE4",
                        "listBranchClients": [],
                        "customFieldValue1": "",
                        "customFieldValue2": "",
                        "customFieldValue3": "",
                        "customFieldValue4": "",
                        "customFieldValue5": "",
                        "customFieldValue6": "",
                        "customFieldValue7": "",
                        "customFieldValue8": "",
                        "customFieldValue9": "",
                        "customFieldValue10": "",
                        "customFieldValue11": "",
                        "customFieldValue12": "",
                        "customFieldValue13": "",
                        "customFieldValue14": "",
                        "customFieldValue15": "",
                        "verified": false
                    },
                    {
                        "currency": null,
                        "id": 1820164,
                        "name": "gsmtest",
                        "alternateLookup": "gsmtest",
                        "priceScheme": "0",
                        "creditLimit": 0,
                        "billingAddress": "Malaysia",
                        "shippingAddress": "Malaysia",
                        "shipping": {
                            "street": "",
                            "city": "",
                            "state": "",
                            "zipcode": "",
                            "country": "Malaysia"
                        },
                        "billing": {
                            "street": "",
                            "city": "",
                            "state": "",
                            "zipcode": "",
                            "country": "Malaysia"
                        },
                        "code": "gsmtest",
                        "title": "gsmtest",
                        "email": "",
                        "type": "testgsm",
                        "group": "testgsm",
                        "registrationCode": "",
                        "gender": "female",
                        "dob": "1995-07-18T00:00:00.000Z",
                        "ic": "",
                        "nationality": "Malaysia",
                        "createdBy": "realmart@xilnex.com",
                        "firstName": "",
                        "lastName": "",
                        "phone": "",
                        "office": "",
                        "mobile": "",
                        "accountNumber": "",
                        "alternateName": "",
                        "alternateContact": "",
                        "alternatePhone": "",
                        "additionalInfo": "",
                        "fax": "",
                        "remarks": "",
                        "billingRemarks": null,
                        "shippingRemarks": null,
                        "race": "",
                        "category": "Personal",
                        "active": true,
                        "allowAllOutlets": true,
                        "gstInclusive": true,
                        "pointValue": 0,
                        "defaultSalesType": "",
                        "expiryDate": null,
                        "createdOutlet": "424353",
                        "pointFactor": 1,
                        "dedicatedSalesPerson": "",
                        "image": "",
                        "xilnexConnectOutlet": "",
                        "paymentTerms": 0,
                        "paymentTermsRemark": "",
                        "gstNo": null,
                        "currencyCode": null,
                        "gstNumber": "",
                        "taxCode": "",
                        "createDate": "2018-07-18T00:00:00.000Z",
                        "enableDOB": true,
                        "updateTimeStamp": "0x0000000071F6E8EA",
                        "listBranchClients": [],
                        "customFieldValue1": "",
                        "customFieldValue2": "",
                        "customFieldValue3": "",
                        "customFieldValue4": "",
                        "customFieldValue5": "",
                        "customFieldValue6": "",
                        "customFieldValue7": "",
                        "customFieldValue8": "",
                        "customFieldValue9": "",
                        "customFieldValue10": "",
                        "customFieldValue11": "",
                        "customFieldValue12": "",
                        "customFieldValue13": "",
                        "customFieldValue14": "",
                        "customFieldValue15": "",
                        "verified": false
                    }
                ]
            },
            "timestamp": 1533026027
        }

### /logic/v2/clients/entryform
#### GET
To retrive full list of client entry form

+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        
+ Response 200 (application/json)

        {
            "ok": true,
            "status": "SuccessQuery",
            "warning": null,
            "error": null,
            "data": {
            "compulsoryFields": [
              {
                "fieldName": "Company_Name",
                "fieldTitle": "Company Name",
                "type": "string",
                "isCompulsory": true,
                "defaultValue": null,
                "options": null
              },
              {
                "fieldName": "STRING_EXTEND_2",
                "fieldTitle": "Client Category",
                "type": "selection",
                "isCompulsory": true,
                "defaultValue": null,
                "options": [
                  "Personal",
                  "Company"
                ]
              },
              {
                "fieldName": "DOB",
                "fieldTitle": "Date Of Birth",
                "type": "datetime",
                "isCompulsory": true,
                "defaultValue": "",
                "options": null
              },
              {
                "fieldName": "Race",
                "fieldTitle": "Race",
                "type": "selection",
                "isCompulsory": true,
                "defaultValue": "",
                "options": [
                  "Chinese"
                ]
              }
            ]
            },
            "timestamp": 1487900654
        }

    
### /logic/v2/clients/client
#### POST
create customer without go through compulsory setting
+ Parameters
    + category: Example Personal , Company 
    + paymentTerms: (Optional, number)- Payment terms
    + paymentTermsRemark: (Optional)- Payment terms remark
    + accountNumber: (Optional)- Account number
+ Request
    
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        
        {  
            "client":{  
              "id":0,
              "alternateLookup":null,
              "priceScheme":null,
              "terms":0,
              "creditLimit":0,
              "billing":{  
                 "street":"bill street",
                 "city":"bill city",
                 "state":"bill state",
                 "zipcode":"00000",
                 "country":"ship country"
              },
              "shipping":{  
                 "street":"ship street",
                 "city":"ship city",
                 "state":"ship state",
                 "zipcode":"00000",
                 "country":"ship country"
              },
              "name":"suelynn",
              "code":"",
              "title":"",
              "email":"",
              "type":"",
              "accountNumber":"",
              "group":"",
              "registrationCode":"",
              "gender":"",
              "ic":"",
              "nationality":"",
              "createdBy":"",
              "mobile":"",
              "office":"",
              "fax":"",
              "phone":"",
              "paymentTerms":0,
              "paymentTermsRemark":"",
              "alternateContact":"",
              "alternatePhone":"",
              "category":"Personal",
              "firstName":"suelynn",
              "lastName":"chiew",
              "expiryDate": "0001-01-01T00:00:00.000Z",
              "pointValue": 128,
              "image":"",
              "active":true,
              "createdOutlet":"Main Outlet",
              "defaultSalesType":"Retail"
            }
        }
        
+ Response 200 (application/json)

    OK

    + Body
    
        {  
            "ok":true,
            "status":"SuccessQuery",
            "warning":null,
            "error":null,
            "data":{  
              "client":{  
                 "id":90014,
                 "alternateLookup":null,
                 "priceScheme":null,
                 "creditLimit":0,
                 "billingAddress":"bill street\nbill city\nbill state",
                 "shippingAddress":"ship street\nship city\n00000\nship state\nship country",
                 "billing":{  
                    "street":"bill street",
                    "city":"bill city",
                    "state":"bill state",
                    "zipcode":null,
                    "country":null
                 },
                 "shipping":{  
                    "street":"ship street",
                    "city":"ship city",
                    "state":"ship state",
                    "zipcode":"00000",
                    "country":"ship country"
                 },
                 "name":"suelynn",
                 "code":"90014",
                 "title":"",
                 "email":"",
                 "type":"",
                 "group":"",
                 "registrationCode":"",
                 "gender":"",
                 "dob":"",
                 "ic":"",
                 "nationality":null,
                 "createdBy":"",
                 "mobile":null,
                 "office":null,
                 "fax":null,
                 "phone":null,
                 "alternateContact":null,
                 "alternatePhone":null,
                 "category":null,
                 "firstName":null,
                 "lastName":null,
                "expiryDate": "0001-01-01T00:00:00.000Z",
                "pointValue": 128,
                "image":"",
                "active":true,
                "createdOutlet":"Main Outlet"
              },
              "clients":null
            },
            "timestamp":1487901794
        }

        
### /logic/v2/clients/{id}

#### PUT

Update client detail
+ Parameters
    + id: Client id
    + paymentTerms: (Optional, number)- Payment terms
    + paymentTermsRemark: (Optional)- Payment terms remark
    + accountNumber: (Optional)- Account number
+ Request
    
    + Headers
            
            Accept: application/json
            Header: {header}
            Token: {token}
    
    + Body
            {  
               "client":{  
                  "alternateLookup":null,
                  "priceScheme":null,
                  "creditLimit":0,
                  "billing":{  
                     "street":"bill street",
                     "city":"bill city",
                     "state":"bill state"
                  },
                  "shipping":{  
                     "street":"ship street",
                     "city":"ship city",
                     "state":"ship state",
                     "zipcode":"00000",
                     "country":"ship country"
                  },
                  "name":"suelynn",
                  "code":"",
                  "title":"",
                  "email":"",
                  "type":"",
                  "group":"",
                  "registrationCode":"",
                  "gender":"",
                  "ic":"",
                  "nationality":"",
                  "createdBy":"",
                  "mobile":"",
                  "office":"",
                  "fax":"",
                  "accountNumber":"",
                  "phone":"",
                  "paymentTerms":0,
                  "paymentTermsRemark":"",
                  "alternateContact":"",
                  "alternatePhone":"",
                  "category":"Personal",
                  "firstName":"suelynn",
                  "lastName":"chiew"
               }
            }
            
+ Response 200 (application/json)

    + Body
    
           {  
               "client":{  
                  "id":5042,
                  "alternateLookup":null,
                  "priceScheme":null,
                  "terms":0,
                  "creditLimit":0,
                  "billing":{  
                     "street":"bill street",
                     "city":"bill city",
                     "state":"bill state"
                  },
                  "shipping":{  
                     "street":"ship street",
                     "city":"ship city",
                     "state":"ship state",
                     "zipcode":"00000",
                     "country":"ship country"
                  },
                  "name":"suelynn",
                  "code":"",
                  "title":"",
                  "email":"",
                  "type":"",
                  "group":"",
                  "registrationCode":"",
                  "gender":"",
                  "ic":"",
                  "nationality":"",
                  "createdBy":"",
                  "mobile":"",
                  "office":"",
                  "fax":"",
                  "phone":"",
                  "alternateContact":"",
                  "alternatePhone":"",
                  "category":"Personal",
                  "firstName":"suelynn",
                  "lastName":"chiew"
               }
            }

### /logic/v2/clients/{clientid}/buddies
#### Retrieve client's buddies [GET]
Use to retrive client's buddies

+ Parameters
    + clientid
    
+ Request
    
    + Headers
            Accept: application/json
            Header: {header}
            Token: {token}
    
+ Response 200 (application/json)

        {
            "ok": true,
            "status": "SuccessQuery",
            "warning": null,
            "error": null,
            "data": {
                "lastTimestamp": null,
                "client": null,
                "clients": [
                    {
                        "currency": null,
                        "id": 9002,
                        "name": "Terrance Tan (Test)",
                        "alternateLookup": null,
                        "priceScheme": null,
                        "creditLimit": 0,
                        "billingAddress": null,
                        "shippingAddress": null,
                        "shipping": null,
                        "billing": null,
                        "code": null,
                        "title": null,
                        "email": null,
                        "type": "MEMBER",
                        "group": "1",
                        "registrationCode": null,
                        "gender": "female",
                        "dob": "0001-01-01T00:00:00.000Z",
                        "ic": null,
                        "nationality": "Malaysia",
                        "createdBy": null,
                        "firstName": "Terrance",
                        "lastName": "Tan",
                        "phone": null,
                        "office": null,
                        "mobile": null,
                        "accountNumber": null,
                        "alternateName": null,
                        "alternateContact": null,
                        "alternatePhone": null,
                        "additionalInfo": null,
                        "fax": null,
                        "remarks": null,
                        "billingRemarks": null,
                        "shippingRemarks": null,
                        "race": null,
                        "category": "Personal",
                        "active": true,
                        "allowAllOutlets": true,
                        "gstInclusive": true,
                        "pointValue": 170,
                        "defaultSalesType": "RETAIL",
                        "expiryDate": "2020-07-25T00:00:00.000Z",
                        "createdOutlet": "",
                        "pointFactor": 1,
                        "dedicatedSalesPerson": null,
                        "image": null,
                        "xilnexConnectOutlet": null,
                        "paymentTerms": 0,
                        "paymentTermsRemark": null,
                        "gstNo": null,
                        "currencyCode": null,
                        "gstNumber": null,
                        "taxCode": null,
                        "createDate": "2017-06-20T00:00:00.000Z",
                        "enableDOB": false,
                        "updateTimeStamp": "0x00000000411CCC0D",
                        "listBranchClients": [],
                        "customFieldValue1": null,
                        "customFieldValue2": null,
                        "customFieldValue3": null,
                        "customFieldValue4": null,
                        "customFieldValue5": null,
                        "customFieldValue6": null,
                        "customFieldValue7": null,
                        "customFieldValue8": null,
                        "customFieldValue9": null,
                        "customFieldValue10": null,
                        "customFieldValue11": null,
                        "customFieldValue12": null,
                        "customFieldValue13": null,
                        "customFieldValue14": null,
                        "customFieldValue15": null,
                        "verified": false,
                        "buddyReferenceID": 90021002,
                        "buddyPoints": 0
                    },
                    {
                        "currency": null,
                        "id": 9006,
                        "name": "Jac Test",
                        "alternateLookup": null,
                        "priceScheme": null,
                        "creditLimit": 0,
                        "billingAddress": null,
                        "shippingAddress": null,
                        "shipping": null,
                        "billing": null,
                        "code": null,
                        "title": null,
                        "email": null,
                        "type": "MEMBER",
                        "group": "1",
                        "registrationCode": null,
                        "gender": null,
                        "dob": null,
                        "ic": null,
                        "nationality": null,
                        "createdBy": null,
                        "firstName": "Jac",
                        "lastName": "Test",
                        "phone": null,
                        "office": null,
                        "mobile": null,
                        "accountNumber": null,
                        "alternateName": null,
                        "alternateContact": null,
                        "alternatePhone": null,
                        "additionalInfo": null,
                        "fax": null,
                        "remarks": null,
                        "billingRemarks": null,
                        "shippingRemarks": null,
                        "race": null,
                        "category": "Personal",
                        "active": true,
                        "allowAllOutlets": true,
                        "gstInclusive": true,
                        "pointValue": 23724.6,
                        "defaultSalesType": "RETAIL",
                        "expiryDate": "2022-07-26T00:00:00.000Z",
                        "createdOutlet": "",
                        "pointFactor": 0,
                        "dedicatedSalesPerson": null,
                        "image": null,
                        "xilnexConnectOutlet": null,
                        "paymentTerms": 0,
                        "paymentTermsRemark": null,
                        "gstNo": null,
                        "currencyCode": null,
                        "gstNumber": null,
                        "taxCode": null,
                        "createDate": "2017-06-20T00:00:00.000Z",
                        "enableDOB": false,
                        "updateTimeStamp": "0x000000004820008A",
                        "listBranchClients": [],
                        "customFieldValue1": null,
                        "customFieldValue2": null,
                        "customFieldValue3": null,
                        "customFieldValue4": null,
                        "customFieldValue5": null,
                        "customFieldValue6": null,
                        "customFieldValue7": null,
                        "customFieldValue8": null,
                        "customFieldValue9": null,
                        "customFieldValue10": null,
                        "customFieldValue11": null,
                        "customFieldValue12": null,
                        "customFieldValue13": null,
                        "customFieldValue14": null,
                        "customFieldValue15": null,
                        "verified": false,
                        "buddyReferenceID": 90021002,
                        "buddyPoints": 0
                    }
                ]
            },
            "timestamp": 1533865536
        }

### /logic/v2/clients/{id}

#### DELETE
Delete client
+ Parameters
    + id: Client id
+ Request
    + Headers
            
            Accept: application/json
            Header: {header}
            Token: {token}
            
+ Response 200 (application/json)

            {
                "ok": true,
                "status": "SuccessDelete",
                "warning": null,
                "error": null,
                "data": null,
                "timestamp": 1535939891
            }

    
## Group Commission

### /logic/v2/commission/{id}

#### DELETE

+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
+ Response 200 (application/json)

    OK

    + Body

            {
                "ok": true,
                "status": "SuccessDelete",
                "warning": null,
                "error": null,
                "data": null,
                "timestamp": 1494989373
            }


    + Schema

### /login/v2/commission/physicians/distributions/{id}
#### DELETE 
+ Parameters
+ Request
    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
+ Response 200 (application/json)

    + Body
            {
                "ok": true,
                "status": "SuccessDelete",
                "warning": null,
                "error": null,
                "data": "",
                "timestamp": 1496204482
            }


### /login/v2/commission/profits

#### POST

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        {  
            "profits":[  
              {  
                 "outlet":"main branch",
                 "year":2017,
                 "month":1,
                 "profitLoss":2467.07
              },
              {  
                 "outlet":"main branch",
                 "year":2017,
                 "month":2,
                 "profitLoss":27632.81
              }
            ]
        }

+ Response 200 (application/json)

    + Body

            
        {
            "ok": true,
            "status": "SuccessQuery",
            "warning": null,
            "error": null,
            "data": {
            "profits": [
              {
                "id": 9001,
                "outlet": "MAIN BRANCH",
                "year": 2017,
                "month": 3,
                "profitLoss": 2467.07
              },
              {
                "id": 9002,
                "outlet": "MAIN BRANCH",
                "year": 2017,
                "month": 4,
                "profitLoss": 27632.81
              }
            ]
          },
          "timestamp": 1493177978
        }


    + Schema
    
    
### /login/v2/commission/profits?year={year}&month={month}&outletname={outlet}

#### GET

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
+ Response 200 (application/json)

    OK

    + Body

            {
                "ok": true,
                "status": "SuccessQuery",
                "warning": null,
                "error": null,
                "data": {
                "profits": [
                  {
                    "id": 9001,
                    "outlet": "MAIN BRANCH",
                    "year": 2017,
                    "month": 3,
                    "profitLoss": 2467.07
                  },
                  {
                    "id": 9002,
                    "outlet": "MAIN BRANCH",
                    "year": 2017,
                    "month": 4,
                    "profitLoss": 27632.81
                  }
                ]
                },
                "timestamp": 1493177978
            }

    + Schema
    
### /login/v2/commission/rates

#### POST

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        {  
            "settings":[  
              {  
                 "minimumValue":0,
                 "maximumValue":100,
                 "rate":5
              },
              {  
                 "minimumValue":101,
                 "maximumValue":200,
                 "rate":5
              }
            ]
        }
    
+ Response 200 (application/json)

    OK

    + Body

            {  
                "ok":true,
                "status":"SuccessInsert",
                "warning":null,
                "error":null,
                "data":{  
                  "settings":[  
                     {  
                        "id":9001,
                        "minimumValue":0,
                        "maximumValue":100,
                        "rate":5
                     },
                     {  
                        "id":9002,
                        "minimumValue":101,
                        "maximumValue":200,
                        "rate":6
                     }
                  ]
                },
                "timestamp":1493177719
            }


    + Schema
    
### /login/v2/commission/rates

#### PUT

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
        {  
            "settings":[  
              {  
                 "id":9001,
                 "minimumValue":0,
                 "maximumValue":100,
                 "rate":5
              },
              {  "id":9002,
                 "minimumValue":101,
                 "maximumValue":200,
                 "rate":5
              }
            ]
        }
    
+ Response 200 (application/json)

    OK

    + Body

            {  
                "ok":true,
                "status":"SuccessUpdate",
                "warning":null,
                "error":null,
                "data":{  
                  "settings":[  
                     {  
                        "id":9001,
                        "minimumValue":0,
                        "maximumValue":100,
                        "rate":5
                     },
                     {  
                        "id":9002,
                        "minimumValue":101,
                        "maximumValue":200,
                        "rate":6
                     }
                  ]
                },
                "timestamp":1493177719
            }


    + Schema
    
### /login/v2/commission/users

#### GET

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
+ Response 200 (application/json)

    OK

    + Body

            {
                "ok": true,
                "status": "SuccessQuery",
                "warning": null,
                "error": null,
                "data": {
                    "userCommissionPointFactors": 
                    [
                        {
                            "id": 9001,
                            "username": "xxx@xilnex.com",
                            "firstname": "xxx",
                            "lastname": "",
                            "pointFactor": 2,
                            "incentiveType": "salesincentive"
                        }
                    ]
                },
                "timestamp": 1495512201
            }


    + Schema
    
### /login/v2/commission/users

#### POST

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
            {  
                "userCommissionPointFactors":[  
                {  
                    "username":"realmart@xilnex.com.my",
                    "firstname":"MartTheReal",
                    "lastname":"",
                    "pointFactor":2,
                    "incentiveType":"salesincentive"
                }
                ]
            }
    
+ Response 200 (application/json)

    OK

    + Body

            {  
                "ok":true,
                "status":"SuccessInsert",
                "warning":null,
                "error":null,
                "data":{  
                    "userCommissionPointFactors":[  
                    {  
                        "id":9001,
                        "username":"realmart@xilnex.com",
                        "firstname":"MartTheReal",
                        "lastname":"",
                        "pointFactor":2,
                        "incentiveType":"salesincentive"
                    },
                    {  
                        "id":9002,
                        "username":"realmart@xilnex.com.my",
                        "firstname":"MartTheReal",
                        "lastname":"",
                        "pointFactor":2,
                        "incentiveType":"salesincentive"
                    }
                    ]
                },
                "timestamp":1495512880
            }


    + Schema
    
### /login/v2/commission/users

#### PUT

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
            {  
                "userCommissionPointFactors":[  
                    {  
                        "id":9001,
                        "username":"realmart@xilnex.com",
                        "firstname":"MartTheReal",
                        "lastname":"",
                        "pointFactor":3,
                        "incentiveType":"salesincentive"
                    }
                ]
            }
    
+ Response 200 (application/json)

    OK

    + Body

            {  
                "ok":true,
                "status":"SuccessInsert",
                "warning":null,
                "error":null,
                "data":{  
                    "userCommissionPointFactors":[  
                    {  
                        "id":9001,
                        "username":"realmart@xilnex.com",
                        "firstname":"MartTheReal",
                        "lastname":"",
                        "pointFactor":2,
                        "incentiveType":"salesincentive"
                    },
                    {  
                        "id":9002,
                        "username":"realmart@xilnex.com.my",
                        "firstname":"MartTheReal",
                        "lastname":"",
                        "pointFactor":2,
                        "incentiveType":"salesincentive"
                    }
                    ]
                },
                "timestamp":1495512880
            }


    + Schema

### /login/v2/commission/users

#### DELETE

+ Parameters
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}
    + Body
    
+ Response 200 (application/json)

    OK

    + Body

            {
                "ok": true,
                "status": "SuccessDelete",
                "warning": null,
                "error": null,
                "data": "",
                "timestamp": 1495513201
            }

    + Schema
    
## Group CompanyInfo

### /logic/v2/companyinfo/{outlet_name}
#### GET

+ Parameters

    + outlet_name (required)

+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body
    {  
  "ok":true,
  "status":"SuccessQuery",
  "warning":null,
  "error":null,
  "data":{  
    "companyInfo":{  
      "printedName":"test name",
      "printedAddress":"999, JALAN A,\nTAMAN B,\n56895 PENANG",
      "mainContactEmail":"",
      "mainContact":"",
      "mainContactTel":"",
      "registrationNumber":"33333",
      "gstRegistraitonNumber":"1111111",
      "outletType":"",
      "locationEntity":"Retail",
      "outletLocation":"",
      "fax":"",
      "outletOwnership":"",
      "branchCode":"test code",
      "branchCreatedDate":"20/17/",
      "branchCompletionDate":"20/17/",
      "branchCreatedBy":"RealMart Admin",
      "branchOpeningDate":"",
      "financialDimension":"",
      "branchGroup":"External Outlet",
      "ownershipStatus":"",
      "branchRental":"",
      "branchSize":"",
      "locationLatitude":"0",
      "locationLongitude":"0",
      "weatherLocation":"",
      "projetCode":"",
      "areaCode":""
    }
  },
  "timestamp":1536806500
}


### /logic/v1/companyinfo/{outlet_id}

#### GET

+ Parameters

    + outlet_id (required)

+ Request

    + Headers

            Accept: application/json

    + Body

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

### /logic/v1/companyinfo/postcompanyinfo

#### POST

+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            {
              "OutletLocation": "aliqua eu",
              "OutletType": "ullamco labore dolor consequa",
              "COMPANY_MAIN_CONTACT_EMAIL": "ipsum incididunt dolor in",
              "COMPANY_PRINTED_NAME": "eiusmo",
              "COMPANY_MAIN_CONTACT_TEL": "dolor et laborum labore",
              "ArrOutletOwndership": [
                "Ut occaecat est eu"
              ],
              "LocationLongitude": 58425084,
              "CompanyRegistrationNumber": "mollit",
              "CurrentCountry_": "incididunt dolor ex",
              "COMPANY_FAX": "est officia exerc",
              "Location_Entity": "pariatur",
              "COMPANY_PRINTED_ADDRESS": "ipsum qui anim enim et",
              "LocationLatitude": -52926077,
              "Outlet_Ownership": "amet a",
              "COMPANY_MAIN_CONTACT": "tempor nostrud"
            }

    + Schema

            {
              "description": "Outlet company information model",
              "type": "object",
              "properties": {
                "locationID": {
                  "description": "selected outlet location id",
                  "type": "string"
                },
                "locationName": {
                  "description": "selected outlet location name",
                  "type": "string"
                },
                "COMPANY_PRINTED_NAME": {
                  "type": "string"
                },
                "COMPANY_PRINTED_ADDRESS": {
                  "type": "string"
                },
                "COMPANY_MAIN_CONTACT": {
                  "type": "string"
                },
                "COMPANY_MAIN_CONTACT_EMAIL": {
                  "type": "string"
                },
                "COMPANY_MAIN_CONTACT_TEL": {
                  "type": "string"
                },
                "COMPANY_FAX": {
                  "type": "string"
                },
                "CompanyRegistrationNumber": {
                  "type": "string"
                },
                "GSTRegistrationNumber": {
                  "type": "string"
                },
                "Location_Entity": {
                  "type": "string"
                },
                "OutletType": {
                  "type": "string"
                },
                "ArrOutletType": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "OutletLocation": {
                  "type": "string"
                },
                "Outlet_Ownership": {
                  "type": "string"
                },
                "ArrOutletOwndership": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "CurrentCountry_": {
                  "type": "string"
                },
                "ArrCountry": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "LocationLongitude": {
                  "format": "double",
                  "type": "number"
                },
                "LocationLatitude": {
                  "format": "double",
                  "type": "number"
                }
              }
            }

+ Response 200 (application/json)

    OK

    + Body

            {}

    + Schema

            {
              "type": "object",
              "properties": {}
            }

### /logic/v1/companyinfo/postsignupdetails

#### POST

+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            {
              "OutletCount": 47038801
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "Complete": {
                  "type": "boolean"
                },
                "BusinessName": {
                  "type": "string"
                },
                "BusinessType": {
                  "type": "string"
                },
                "OutletCount": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
            
## Group Consignment DO 
### /logic/v2/consignmentdo/{id}
#### GET

+ Parameters

    + id   : Consignment Delivery Order Number (required)

+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}

    + Body

+ Response 200 (application/json)

    OK

    + Body
    {
    "ok": true,
    "status": "SuccessQuery",
    "warning": null,
    "error": null,
    "data": {
        "consignmentDo": {
            "id": 415016,
            "totalAmount": 2192.51,
            "totalQuantity": 2,
            "client": {
                "id": 5042,
                "recipientContact": "",
                "recipientName": null,
                "name": "Cindy E. B ??",
                "billingAddress": {
                    "street": "",
                    "city": "Melaka",
                    "state": "",
                    "zipcode": "",
                    "country": ""
                },
                "shippingAddress": {
                    "street": "Thomas Nolan Kaszas II",
                    "city": "Otter Lane",
                    "state": "Middleberge ",
                    "zipcode": "5322",
                    "country": "FL 32068"
                },
                "billingRemark": null,
                "shippingRemark": "",
                "shippingDateTime": null,
                "IsoShippingDateTime": {
                    "IsoPerformDate": "2018-12-12T18:37:06.000Z",
                    "PerformDate": "12/12/2018",
                    "PerformTime": "18:37:06.000Z",
                    "DateTimePerformDate": "2018-12-12T18:37:06",
                    "PerformDateTime": null
                },
                "type": "Client"
            },
            "creationDate": "2018-12-12T00:00:00.000Z",
            "createdBy": "realmart@xilnex.com",
            "creationOutlet": "MAIN BRANCH",
            "trackingCode": "",
            "deliveryStatus": "Shipped",
            "deliveredOutlet": "MAIN BRANCH",
            "deliveryPerson": "",
            "billingStatus": "Completed",
            "invoiceId": "415010",
            "cancellationInfo": null,
            "salesPerson": "RealMart Admin",
            "confirmedBy": "RealMart Admin",
            "stringExtend3": "",
            "consignmentItems": [
                {
                    "id": 415016,
                    "itemId": 5046,
                    "itemCode": "12092016",
                    "itemName": "12092016",
                    "itemType": "1",
                    "itemModel": "asd",
                    "itemCategory": "001",
                    "unitPrice": 2191.51,
                    "enterPrice": 2191.51,
                    "quantity": 1,
                    "quantityBilled": 1,
                    "discountPercentage": 0,
                    "taxCode": "OS",
                    "taxPercentage": 0,
                    "taxAmount": 0,
                    "inclusiveMGST": false,
                    "deliveryDateTime": "2018-12-12T18:37:06.000Z",
                    "deliveryOutlet": "MAIN BRANCH",
                    "priceScheme": {
                        "manufacturerPrice": 0,
                        "salePrice": 2191.51,
                        "employeePrice": 2323,
                        "wholesalePrice": 2410.66,
                        "customPrice": 0,
                        "webPrice": 38,
                        "webDealerPrice": 2191.51,
                        "cost": 2191.51
                    },
                    "carton": 0,
                    "uom": "EACH",
                    "uomEnterQuantity": 1,
                    "uomQuantity": 1,
                    "packageId": "-1",
                    "driverName": "",
                    "installerName": "",
                    "driverCommissionRate": 0,
                    "driverCommissionPercent": 0,
                    "installerCommissionRate": 0,
                    "installerCommissionPercent": 0,
                    "isUniqueItem": false,
                    "isPackage": false,
                    "isPrepack": false,
                    "uniqueId": "",
                    "alternateLookup": "100434552",
                    "packageCode": "",
                    "parentId": "",
                    "pcid": "",
                    "isMatrix": false,
                    "matrixId": "",
                    "matrixBarcode": "",
                    "matrixX": "",
                    "matrixY": "",
                    "multiLevelDiscount": "",
                    "alternateSerialNumber": "",
                    "customField1": "",
                    "customField2": "JolinTest",
                    "customField3": "",
                    "customField4": "",
                    "customField5": "jihin",
                    "isPromoIgnore": false,
                    "isPromoModified": false,
                    "promoGroup": "promo2",
                    "promoGuid": "",
                    "rulesName": "",
                    "rulesId": "",
                    "campaignName": "",
                    "campaignId": "",
                    "subItems": []
                },
                {
                    "id": 415017,
                    "itemId": 236016,
                    "itemCode": "1015",
                    "itemName": "1015",
                    "itemType": "Type02",
                    "itemModel": "",
                    "itemCategory": "Category1",
                    "unitPrice": 1,
                    "enterPrice": 1,
                    "quantity": 1,
                    "quantityBilled": 1,
                    "discountPercentage": 0,
                    "taxCode": "ZRL",
                    "taxPercentage": 0,
                    "taxAmount": 0,
                    "inclusiveMGST": false,
                    "deliveryDateTime": "2018-12-12T18:37:06.000Z",
                    "deliveryOutlet": "MAIN BRANCH",
                    "priceScheme": {
                        "manufacturerPrice": 0,
                        "salePrice": 1,
                        "employeePrice": 0,
                        "wholesalePrice": 0,
                        "customPrice": 0,
                        "webPrice": 0,
                        "webDealerPrice": 0,
                        "cost": 1
                    },
                    "carton": 0,
                    "uom": "EACH",
                    "uomEnterQuantity": 1,
                    "uomQuantity": 1,
                    "packageId": "-1",
                    "driverName": "",
                    "installerName": "",
                    "driverCommissionRate": 0,
                    "driverCommissionPercent": 0,
                    "installerCommissionRate": 0,
                    "installerCommissionPercent": 0,
                    "isUniqueItem": false,
                    "isPackage": false,
                    "isPrepack": false,
                    "uniqueId": "",
                    "alternateLookup": "100010866",
                    "packageCode": "",
                    "parentId": "",
                    "pcid": "",
                    "isMatrix": false,
                    "matrixId": "",
                    "matrixBarcode": "",
                    "matrixX": "",
                    "matrixY": "",
                    "multiLevelDiscount": "",
                    "alternateSerialNumber": "",
                    "customField1": "1",
                    "customField2": "2",
                    "customField3": "3",
                    "customField4": "4",
                    "customField5": "5",
                    "isPromoIgnore": false,
                    "isPromoModified": false,
                    "promoGroup": "PromoGroup1",
                    "promoGuid": "",
                    "rulesName": "",
                    "rulesId": "",
                    "campaignName": "",
                    "campaignId": "",
                    "subItems": []
                }
            ]
        }
    }
}

### /logic/v2/consignmentdo
#### POST
Use to create consignment delivery order
+ Request

    + Headers

            Accept: application/json
            Header: {header}
            Token: {token}

    + Body
    {  
  "consignmentDo":{  
    "client":{  
      "id":5042
    },
    "creationOutlet":"MAIN BRANCH",
    "deliveryStatus":"Shipped",
    "salesPerson":"RealMart Admin",
    "consignmentItems":[  
      {  
        "itemCode":"bun2202",
        "enterPrice":2192.52,
        "quantity":1,
        "discountPercentage":0
      }
    ]
  }
}

+ Response 200 (application/json)

    OK

    + Body
    {
    "ok": true,
    "status": "SuccessQuery",
    "warning": null,
    "error": null,
    "data": {
        "consignmentDo": {
            "id": 90036,
            "totalAmount": 2192.52,
            "totalQuantity": 1,
            "client": {
                "id": 5042,
                "recipientContact": "",
                "recipientName": "Cindy E. B ??",
                "name": "Cindy E. B ??",
                "billingAddress": {
                    "street": "",
                    "city": "Melaka",
                    "state": "",
                    "zipcode": "",
                    "country": ""
                },
                "shippingAddress": {
                    "street": "Thomas Nolan Kaszas II",
                    "city": "Otter Lane",
                    "state": "Middleberge ",
                    "zipcode": "5322",
                    "country": "FL 32068"
                },
                "billingRemark": null,
                "shippingRemark": null,
                "shippingDateTime": null,
                "IsoShippingDateTime": {
                    "IsoPerformDate": "2018-12-17T11:22:31.260Z",
                    "PerformDate": "17/12/2018",
                    "PerformTime": "11:22:31.000Z",
                    "DateTimePerformDate": "2018-12-17T11:22:31.2609386+08:00",
                    "PerformDateTime": null
                },
                "type": "Client"
            },
            "creationDate": "2018-12-17T00:00:00.000Z",
            "createdBy": "realmart@xilnex.com",
            "creationOutlet": "MAIN BRANCH",
            "trackingCode": "",
            "deliveryStatus": "Shipped",
            "deliveredOutlet": "MAIN BRANCH",
            "deliveryPerson": null,
            "billingStatus": "Pending",
            "invoiceId": null,
            "cancellationInfo": null,
            "salesPerson": "RealMart Admin",
            "confirmedBy": "realmart@xilnex.com",
            "stringExtend3": null,
            "consignmentItems": [
                {
                    "id": 90058,
                    "itemId": 5057,
                    "itemCode": "bun2202",
                    "itemName": "bun2202",
                    "itemType": null,
                    "itemModel": null,
                    "itemCategory": "Package",
                    "unitPrice": 2192.52,
                    "enterPrice": 2192.52,
                    "quantity": 1,
                    "quantityBilled": 0,
                    "discountPercentage": 0,
                    "taxCode": "SR",
                    "taxPercentage": 0,
                    "taxAmount": 0,
                    "inclusiveMGST": false,
                    "deliveryDateTime": "2018-12-17T11:22:31.260Z",
                    "deliveryOutlet": "MAIN BRANCH",
                    "priceScheme": {
                        "manufacturerPrice": 0,
                        "salePrice": 115,
                        "employeePrice": 0,
                        "wholesalePrice": 0,
                        "customPrice": 0,
                        "webPrice": 0,
                        "webDealerPrice": 0,
                        "cost": 481.8874
                    },
                    "carton": 0,
                    "uom": "EACH",
                    "uomEnterQuantity": 1,
                    "uomQuantity": 1,
                    "packageId": "-1",
                    "driverName": null,
                    "installerName": "",
                    "driverCommissionRate": 0,
                    "driverCommissionPercent": 0,
                    "installerCommissionRate": 0,
                    "installerCommissionPercent": 0,
                    "isUniqueItem": false,
                    "isPackage": true,
                    "isPrepack": false,
                    "uniqueId": null,
                    "alternateLookup": null,
                    "packageCode": "",
                    "parentId": "",
                    "pcid": "8WI7wR",
                    "isMatrix": false,
                    "matrixId": null,
                    "matrixBarcode": null,
                    "matrixX": null,
                    "matrixY": null,
                    "multiLevelDiscount": null,
                    "alternateSerialNumber": null,
                    "customField1": null,
                    "customField2": "JolinTest",
                    "customField3": null,
                    "customField4": null,
                    "customField5": null,
                    "isPromoIgnore": false,
                    "isPromoModified": false,
                    "promoGroup": "promocombo",
                    "promoGuid": null,
                    "rulesName": null,
                    "rulesId": null,
                    "campaignName": null,
                    "campaignId": null,
                    "subItems": [
                        {
                            "id": 90059,
                            "itemId": 5046,
                            "itemCode": "12092016",
                            "itemName": "12092016",
                            "itemType": "1",
                            "itemModel": "asd",
                            "itemCategory": "001",
                            "unitPrice": 2142.52,
                            "enterPrice": 2142.52,
                            "quantity": 1,
                            "quantityBilled": 0,
                            "discountPercentage": 0,
                            "taxCode": "OS",
                            "taxPercentage": 0,
                            "taxAmount": 0,
                            "inclusiveMGST": false,
                            "deliveryDateTime": null,
                            "deliveryOutlet": null,
                            "priceScheme": {
                                "manufacturerPrice": 0,
                                "salePrice": 2191.51,
                                "employeePrice": 2323,
                                "wholesalePrice": 2410.66,
                                "customPrice": 0,
                                "webPrice": 38,
                                "webDealerPrice": 2191.51,
                                "cost": 2191.51
                            },
                            "carton": 0,
                            "uom": "EACH",
                            "uomEnterQuantity": 1,
                            "uomQuantity": 1,
                            "packageId": null,
                            "driverName": null,
                            "installerName": null,
                            "driverCommissionRate": 0,
                            "driverCommissionPercent": 0,
                            "installerCommissionRate": 0,
                            "installerCommissionPercent": 0,
                            "isUniqueItem": false,
                            "isPackage": false,
                            "isPrepack": false,
                            "uniqueId": null,
                            "alternateLookup": "100434552",
                            "packageCode": "bun2202",
                            "parentId": null,
                            "pcid": "8WI7wR",
                            "isMatrix": false,
                            "matrixId": null,
                            "matrixBarcode": null,
                            "matrixX": null,
                            "matrixY": null,
                            "multiLevelDiscount": null,
                            "alternateSerialNumber": null,
                            "customField1": null,
                            "customField2": "JolinTest",
                            "customField3": null,
                            "customField4": null,
                            "customField5": "jihin",
                            "isPromoIgnore": false,
                            "isPromoModified": false,
                            "promoGroup": "promo2",
                            "promoGuid": null,
[...]
